@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
.mT35 {
  margin-top: 35px;
}
.mT30 {
  margin-top: 30px;
}
.mT25 {
  margin-top: 25px;
}
.mT20 {
  margin-top: 20px;
}
.mT15 {
  margin-top: 15px;
}
.mT10 {
  margin-top: 10px;
}
.mT5 {
  margin-top: 5px;
}
.mT0 {
  margin-top: 0px;
}
.mB35 {
  margin-bottom: 35px;
}
.mB30 {
  margin-bottom: 30px;
}
.mB25 {
  margin-bottom: 25px;
}
.mB20 {
  margin-bottom: 20px;
}
.mB15 {
  margin-bottom: 15px;
}
.mB10 {
  margin-bottom: 10px;
}
.mB5 {
  margin-bottom: 5px;
}
.mB0 {
  margin-bottom: 0px;
}
.mL35 {
  margin-left: 35px;
}
.mL30 {
  margin-left: 30px;
}
.mL25 {
  margin-left: 25px;
}
.mL20 {
  margin-left: 20px;
}
.mL15 {
  margin-left: 15px;
}
.mL10 {
  margin-left: 10px;
}
.mL5 {
  margin-left: 5px;
}
.mL0 {
  margin-left: 0px;
}
.mR35 {
  margin-right: 35px;
}
.mR30 {
  margin-right: 30px;
}
.mR25 {
  margin-right: 25px;
}
.mR20 {
  margin-right: 20px;
}
.mR15 {
  margin-right: 15px;
}
.mR10 {
  margin-right: 10px;
}
.mR5 {
  margin-right: 5px;
}
.mR0 {
  margin-right: 0px;
}
.pT35 {
  padding-top: 35px;
}
.pT30 {
  padding-top: 30px;
}
.pT25 {
  padding-top: 25px;
}
.pT20 {
  padding-top: 20px;
}
.pT15 {
  padding-top: 15px;
}
.pT10 {
  padding-top: 10px;
}
.pT5 {
  padding-top: 5px;
}
.pT0 {
  padding-top: 0px;
}
.pB35 {
  padding-bottom: 35px;
}
.pB30 {
  padding-bottom: 30px;
}
.pB25 {
  padding-bottom: 25px;
}
.pB20 {
  padding-bottom: 20px;
}
.pB15 {
  padding-bottom: 15px;
}
.pB10 {
  padding-bottom: 10px;
}
.pB5 {
  padding-bottom: 5px;
}
.pB0 {
  padding-bottom: 0px;
}
.pL35 {
  padding-left: 35px;
}
.pL30 {
  padding-left: 30px;
}
.pL25 {
  padding-left: 25px;
}
.pL20 {
  padding-left: 20px;
}
.pL15 {
  padding-left: 15px;
}
.pL10 {
  padding-left: 10px;
}
.pL5 {
  padding-left: 5px;
}
.pL0 {
  padding-left: 0px;
}
.pR35 {
  padding-right: 35px;
}
.pR30 {
  padding-right: 30px;
}
.pR25 {
  padding-right: 25px;
}
.pR20 {
  padding-right: 20px;
}
.pR15 {
  padding-right: 15px;
}
.pR10 {
  padding-right: 10px;
}
.pR5 {
  padding-right: 5px;
}
.pR0 {
  padding-right: 0px;
}
.pNone {
  padding: 0;
}
.btn {
  padding: 5px;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  text-transform: uppercase;
}
.btnOrange {
  background: #ff6600;
  color: #ffffff;
}
.btnOrange:hover,
.btnOrange:active {
  background: #cc5200;
  color: #ffffff !important;
}
.orangeText {
  color: #ff6600 !important;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #333333;
}
.header {
  background: linear-gradient(to bottom, #ff6600 0, #c24e00 100%);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
}
.header h3 {
  color: #ffffff;
  font-size: 30px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  -moz-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.content {
  margin-top: 80px;
}
.content h2 {
  color: #333333;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 30px;
}
.content span {
  color: #999999;
  font-size: 18px;
}
.content .panel-inner {
  max-width: 850px;
  margin: auto;
}
.content .panel {
  margin-top: 0 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.content .panel h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.content .panel .panel-heading {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.content .panel .panel-heading.active {
  background: #ff6600;
  color: #ffffff;
}
.content .panel .panel-heading a {
  text-decoration: none;
  font-size: 18px;
  padding: 15px;
  display: block;
}
.content .panel .socialLogin a {
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.content .panel .socialLogin a:first-child {
  background: linear-gradient(to bottom, #e57f79 0, #d03228 100%);
}
.content .panel .socialLogin a:last-child {
  background: linear-gradient(to bottom, #6b84c1 0, #3a528c 100%);
}
.content .panel .socialLogin a .sLIcon {
  float: left;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  padding: 8px 7px 0 8px;
}
.content .panel .socialLogin a .sLIcon svg {
  fill: #ffffff;
}
.content .panel .socialLogin a .sLText {
  float: left;
  color: #ffffff;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
  -moz-text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  padding: 10px;
}
.content .panel .reviewDetails .buildingName {
  font-size: 30px;
  color: #999999;
  border: 2px solid #edeef0;
  border-bottom: none;
  padding: 10px;
}
.content .panel .reviewDetails .title {
  background: #edeef0;
  color: #333333;
  padding: 10px;
  font-size: 14px;
  font-weight: 700;
}
.content .panel .termsConditions label {
  font-weight: 400;
  font-size: 14px;
}
.content .panel .termsConditions label input {
  float: left;
  margin-right: 5px;
}
.content .panel .termsConditions label a {
  color: #ff6600;
}
.content .panel .mandatory {
  background: #fcf8e3;
  padding: 10px;
  border: 1px solid #fcf8e3;
  color: #8a6d3b;
}
.content .panel .personalDetails label {
  float: left;
  width: 100%;
  font-weight: 400;
}
.content .panel .personalDetails input,
.content .panel .personalDetails select {
  float: left;
  width: 100%;
  padding: 10px;
  border: 1px solid #edeef0;
  margin-bottom: 20px;
  font-weight: 400;
}
