/* Icons from directory "" */
.icon-address-book,.icon-address-book\:regular{background-image:url('icons/icons.png');background-position:0 0;background-repeat:no-repeat}
.icon-address-book-dims{width:16px;height:16px}
.icon-calendar,.icon-calendar\:regular{background-image:url('icons/icons.png');background-position:0 -16px;background-repeat:no-repeat}
.icon-calendar-dims{width:16px;height:16px}
.icon-camera,.icon-camera\:regular{background-image:url('icons/icons.png');background-position:0 -32px;background-repeat:no-repeat}
.icon-camera-dims{width:16px;height:16px}
.icon-circle-down,.icon-circle-down\:regular{background-image:url('icons/icons.png');background-position:0 -48px;background-repeat:no-repeat}
.icon-circle-down-dims{width:16px;height:16px}
.icon-circle-left,.icon-circle-left\:regular{background-image:url('icons/icons.png');background-position:0 -64px;background-repeat:no-repeat}
.icon-circle-left-dims{width:16px;height:16px}
.icon-circle-right,.icon-circle-right\:regular{background-image:url('icons/icons.png');background-position:0 -80px;background-repeat:no-repeat}
.icon-circle-right-dims{width:16px;height:16px}
.icon-circle-up,.icon-circle-up\:regular{background-image:url('icons/icons.png');background-position:0 -96px;background-repeat:no-repeat}
.icon-circle-up-dims{width:16px;height:16px}
.icon-clock,.icon-clock\:regular{background-image:url('icons/icons.png');background-position:0 -112px;background-repeat:no-repeat}
.icon-clock-dims{width:16px;height:16px}
.icon-coin-dollar,.icon-coin-dollar\:regular{background-image:url('icons/icons.png');background-position:0 -128px;background-repeat:no-repeat}
.icon-coin-dollar-dims{width:16px;height:16px}
.icon-coin-euro,.icon-coin-euro\:regular{background-image:url('icons/icons.png');background-position:0 -144px;background-repeat:no-repeat}
.icon-coin-euro-dims{width:16px;height:16px}
.icon-coin-pound,.icon-coin-pound\:regular{background-image:url('icons/icons.png');background-position:0 -160px;background-repeat:no-repeat}
.icon-coin-pound-dims{width:16px;height:16px}
.icon-coin-yen,.icon-coin-yen\:regular{background-image:url('icons/icons.png');background-position:0 -176px;background-repeat:no-repeat}
.icon-coin-yen-dims{width:16px;height:16px}
.icon-envelop,.icon-envelop\:regular{background-image:url('icons/icons.png');background-position:0 -192px;background-repeat:no-repeat}
.icon-envelop-dims{width:16px;height:16px}
.icon-facebook2,.icon-facebook2\:regular{background-image:url('icons/icons.png');background-position:0 -208px;background-repeat:no-repeat}
.icon-facebook2-dims{width:16px;height:16px}
.icon-file-empty,.icon-file-empty\:regular{background-image:url('icons/icons.png');background-position:0 -224px;background-repeat:no-repeat}
.icon-file-empty-dims{width:16px;height:16px}
.icon-file-text,.icon-file-text\:regular{background-image:url('icons/icons.png');background-position:0 -240px;background-repeat:no-repeat}
.icon-file-text-dims{width:16px;height:16px}
.icon-file-text2,.icon-file-text2\:regular{background-image:url('icons/icons.png');background-position:0 -256px;background-repeat:no-repeat}
.icon-file-text2-dims{width:16px;height:16px}
.icon-files-empty,.icon-files-empty\:regular{background-image:url('icons/icons.png');background-position:0 -272px;background-repeat:no-repeat}
.icon-files-empty-dims{width:16px;height:16px}
.icon-film,.icon-film\:regular{background-image:url('icons/icons.png');background-position:0 -288px;background-repeat:no-repeat}
.icon-film-dims{width:16px;height:16px}
.icon-folder-download,.icon-folder-download\:regular{background-image:url('icons/icons.png');background-position:0 -304px;background-repeat:no-repeat}
.icon-folder-download-dims{width:16px;height:16px}
.icon-folder-open,.icon-folder-open\:regular{background-image:url('icons/icons.png');background-position:0 -320px;background-repeat:no-repeat}
.icon-folder-open-dims{width:16px;height:16px}
.icon-folder-upload,.icon-folder-upload\:regular{background-image:url('icons/icons.png');background-position:0 -336px;background-repeat:no-repeat}
.icon-folder-upload-dims{width:16px;height:16px}
.icon-google-plus2,.icon-google-plus2\:regular{background-image:url('icons/icons.png');background-position:0 -352px;background-repeat:no-repeat}
.icon-google-plus2-dims{width:16px;height:16px}
.icon-home2,.icon-home2\:regular{background-image:url('icons/icons.png');background-position:0 -368px;background-repeat:no-repeat}
.icon-home2-dims{width:16px;height:16px}
.icon-image,.icon-image\:regular{background-image:url('icons/icons.png');background-position:0 -384px;background-repeat:no-repeat}
.icon-image-dims{width:16px;height:16px}
.icon-instagram,.icon-instagram\:regular{background-image:url('icons/icons.png');background-position:0 -400px;background-repeat:no-repeat}
.icon-instagram-dims{width:16px;height:16px}
.icon-library,.icon-library\:regular{background-image:url('icons/icons.png');background-position:0 -416px;background-repeat:no-repeat}
.icon-library-dims{width:17px;height:16px}
.icon-linkedin,.icon-linkedin\:regular{background-image:url('icons/icons.png');background-position:0 -432px;background-repeat:no-repeat}
.icon-linkedin-dims{width:16px;height:16px}
.icon-location,.icon-location\:regular{background-image:url('icons/icons.png');background-position:0 -448px;background-repeat:no-repeat}
.icon-location-dims{width:16px;height:16px}
.icon-location2,.icon-location2\:regular{background-image:url('icons/icons.png');background-position:0 -464px;background-repeat:no-repeat}
.icon-location2-dims{width:16px;height:16px}
.icon-pencil2,.icon-pencil2\:regular{background-image:url('icons/icons.png');background-position:0 -480px;background-repeat:no-repeat}
.icon-pencil2-dims{width:16px;height:16px}
.icon-phone-hang-up,.icon-phone-hang-up\:regular{background-image:url('icons/icons.png');background-position:0 -496px;background-repeat:no-repeat}
.icon-phone-hang-up-dims{width:16px;height:16px}
.icon-phone,.icon-phone\:regular{background-image:url('icons/icons.png');background-position:0 -512px;background-repeat:no-repeat}
.icon-phone-dims{width:16px;height:16px}
.icon-play,.icon-play\:regular{background-image:url('icons/icons.png');background-position:0 -528px;background-repeat:no-repeat}
.icon-play-dims{width:16px;height:16px}
.icon-price-tag,.icon-price-tag\:regular{background-image:url('icons/icons.png');background-position:0 -544px;background-repeat:no-repeat}
.icon-price-tag-dims{width:16px;height:16px}
.icon-price-tags,.icon-price-tags\:regular{background-image:url('icons/icons.png');background-position:0 -560px;background-repeat:no-repeat}
.icon-price-tags-dims{width:20px;height:16px}
.icon-profile,.icon-profile\:regular{background-image:url('icons/icons.png');background-position:0 -576px;background-repeat:no-repeat}
.icon-profile-dims{width:16px;height:16px}
.icon-search,.icon-search\:regular{background-image:url('icons/icons.png');background-position:0 -592px;background-repeat:no-repeat}
.icon-search-dims{width:16px;height:16px}
.icon-tumblr2,.icon-tumblr2\:regular{background-image:url('icons/icons.png');background-position:0 -608px;background-repeat:no-repeat}
.icon-tumblr2-dims{width:16px;height:16px}
.icon-twitter,.icon-twitter\:regular{background-image:url('icons/icons.png');background-position:0 -624px;background-repeat:no-repeat}
.icon-twitter-dims{width:16px;height:16px}