/***************************************************************/
/*******************  TABLE OF CONTENTS  ***********************/
/***************************************************************/
/* 1. Variable Declaration          ///////////////////////////*/
/* 2. Basic styles                  ///////////////////////////*/
/* 3. Header and Navbar styles      ///////////////////////////*/
/* 4. Jumotron styles               ///////////////////////////*/
/* 5. Page sections                 ///////////////////////////*/
/* 6. Portfolio                     ///////////////////////////*/
/* 7. Contact Form                  ///////////////////////////*/
/* 8. Polaroid Effects              ///////////////////////////*/
/* 9. Services section              ///////////////////////////*/
/* 10. Testimonials                 ///////////////////////////*/
/* 11. Timeline                     ///////////////////////////*/
/* 12. About us                     ///////////////////////////*/
/* 13. Overall Center Content       ///////////////////////////*/
/* 14. Scroll to top transition     ///////////////////////////*/
/* 15. Clients section              ///////////////////////////*/
/* 16. Maps                         ///////////////////////////*/
/* 17. Misc                         ///////////////////////////*/
/***************************************************************/

/* 1. Variable Declaration ///////////////////////////*/
@fade-color: #E7E7E7;
@white: #fff;
@gray: #ccc;
@dark-gray: #333;
@primary-color: #ff7f00;
@light-gray: #eee;
@dark-green: #013d47;
@gray-lighter: #999;

/* 2. Basic styles ///////////////////////////*/
p{
  font-size: 1em;
}

/* 3. Header and Navbar styles ///////////////////////////*/
.logo{
  h3{
    margin: 0px;
    font-size: 30px;
  }
  h2{
    font-weight: 800;
    margin: 0px;
    font-size: 60px;
    line-height: 44px;
    text-transform: uppercase;
    margin-left: -2px;
  }
}
// Fixed hover and focused issue for navbar
.navbar{
  .navbar-nav{
    .active{
      a{
        &:hover,&:active,&:focus{
          background: none;
        }
      }
    }
  }
}

.bg-gray{
  background: @light-gray;
}

// Standard line-height class
.l-h-25{
  line-height: 25px;
}

/* 4. Jumotron styles /////////////////////////// */
/* Everything but the jumbotron gets side spacing for mobile first views */
.logo-section{
  height: 500px;
  text-align: left;
  @media (max-width: 991px) {
    height: 100%;
    text-align: center;
    height: auto !important;
    margin-bottom: 40px;
  }
  @media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) 
    and (orientation : portrait) {
      height: auto !important;
      text-align: center;
      margin-bottom: 40px;
  }
  .contact-info{
    position: absolute;
    bottom: 0px;
    left: 6%;
    right: 0%;
    transition: all 0.5s ease;
    @media (max-width: 991px) {
      position: relative;
      left: 0%;
    }
    @media only screen 
      and (min-device-width : 768px) 
      and (max-device-width : 1024px) 
      and (orientation : portrait) { /* STYLES GO HERE */ 
        position: relative;
        left: 0%;
    }
  }
  p{
    font-weight: 200;
  }
}

a{
  &:hover{
    opacity: .6;
  }
  i{
    @media screen and (min-width: 767px) and (max-width: 991px){
      margin-bottom: 0;
    }
  }
}

.carousel-inner {
  height:500px;
  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (orientation : portrait) {
    height: 100% !important;
  }
  .carousel-caption {
    right: 0%;
    bottom: 20%;        
    background: #fff;
    width: 40%;
    left: auto;
    color:#000;
    text-shadow:none;
    text-align: left;
    padding:20px 20px;
    font-weight: 200;
    /*position: absolute;*/
    @media (max-width: 768px) {
      width: 80%;
      right: 0%;
      left: 0%;
      margin: auto;
      background: rgba(255, 255, 255, 0.62);
      text-align: center;
      font-size: .5em;
      h4{
        font-size: 1.1em;
      }
    }
    hr{
     border-top: 2px solid #000000;
     margin: 0px;

   }
   h3{
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     max-width:100%;
   }
 }
 .item
 {
  height: 100%;
  /*position: relative;*/
  }
  @media (max-width: 768px) {
    height: auto !important;
  }
}
@media (max-width: 768px) {

  .fp-slidesContainer {
    margin-top: 3%;
  }
  .time-label {
    text-align: center !important;
  }
}

/* 5. Page sections ///////////////////////////*/
.page-title{
  text-transform: uppercase;
  font-weight: 800;
  font-size: 60px;
  text-align: right;
  margin-top: 5%;

}
.fade-txt{
  color:@fade-color;
  font-size: 70px;
  font-weight: 900;
  margin-bottom: 20px;
}
.footer-icon{
  color: #eee;
  font-size: 40px;
  font-weight: 900;
  margin:0px;
  text-align: center !important;
}
.content-wrapper{
  padding: 70px 0px;
  @media (max-width: 768px) {
    padding: 30px 0px 0;
  }
  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (orientation : landscape)  {
   padding: 40px 0px !important;
 }
}
.profile-box{
  width: 320px;
  height: 320px;
  background: @fade-color;
  transform: rotate(71deg);
  position: absolute;
  top: 0px;
  z-index: -1;
}

/* 6. Portfolio ///////////////////////////*/
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 25%;
}
.grid-item { 
  /*width: 280px;*/
  width: 25%;
  border: 5px solid #fff;
  padding: 0px;
  float: left;
  text-align: center;
  overflow: hidden;
  a {
    overflow: hidden;
    display: block;
    &:hover{
      opacity:1;
    }
  }
  img{
    transition: 1s transform ;  
    width: 100%;
  }
  .grid-hover-search{
    display: none;
  }
  .hov-wrap {
    position: relative;
    display: block;
    overflow: hidden;
  }
  &:hover{
    img{
      transform: scale(1.1);       
    }
    .grid-hover-search{
      display: table-cell; 
      background: rgba(0,0,0,0.5);
      width: 100%;
      height: 100%;
      position: absolute; 
      top: 0;
      left: 0; 
      text-align: center;
      vertical-align: middle; 
      i{
        color: @white;
        text-align: center;        
        position: absolute;
        height: 27px;
        width: 27px;
        top: 50%;
        left: 50%;
        margin-left: -13.5px;
        margin-top: -13.5px;

      }
    }
  }
  // @media screen and (max-width: 1200px){
  //   width: 33.33%;
  // }
  @media screen and (max-width: 767px){
    width: 50%;
  }
  @media screen and (max-width: 480px){
    width: 100%;
  }
  .caption{
    display: block;
    padding:10px 0px;
    font-weight: 300;
    color: #333;
  }


}
.grid-item--width2 { /*width: 280px;*/ }
.grid-item--height2{
  /*height: 420px;*/
  @media screen and (max-width: 767px){
    height: auto;
  }
}
.callout-box{
  background: @fade-color;
  text-align: center;
  padding: 12px;
}


/* 7. Contact Form ///////////////////////////*/
.contact-form{
  .form-group{
    margin-bottom: 50px;
    input,
    select,
    textarea{
      border: none;
      border-bottom: 1px solid @gray;
      border-radius: 0;
      box-shadow: none;
      padding: 0;
      &:focus{
        box-shadow: none;
        border-color: #d58512;
      }
    }
    textarea{
      resize: none;
    }
  }
}
.contact-us-text
{
  text-align: right;
  font-weight: 200;
}

.contact-details{
  .fade-txt{
    text-align: right;
    margin-bottom: 0;
    @media (max-width:767px){
      text-align: center;

    }
  }
  [class*="col-"]{
    padding-top: 30px;
  }
  .contact-number
  {
    input
    {
      border:none;
      &:hover, &:focus
      {
        outline:none;
      }
    }
  }
}

.black-btn{
  border-radius: 0;
  padding: 10px 20px;
  color: @white;
  background: @dark-gray;
  text-transform: uppercase;
  &:hover{
    background: @primary-color;
    color: @white;
  }
}

// 8. Footer ///////////////////////////
footer{
  padding: 30px 0 15px 0;
  background: #f2f2f2;
  small{
    display: block;
    margin: 10px 0;
  }
}
@main-black: rgba(32, 36, 39, 0.85);

.heart {
  margin: 0 auto;
  background: url('../img/web_heart_animation.png');
  width: 50px;
  height: 50px;
  background-size: 2900%;
  background-repeat: no-repeat;
  &:hover {
    background-position: right;
    &.tooltip:after, &.tooltip:before {
      opacity: 1;
    }
  }
}

.animated-heart {
  animation-name: moveHeart;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
  -webkit-animation-name: moveHeart;
  -webkit-animation-duration: .8s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: steps(28);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: moveHeart;
  -moz-animation-duration: .8s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: steps(28);
  -moz-animation-fill-mode: forwards;

}

.tooltip {
  &:before {
    content: attr(data-content);
    display: block;
    background-color: @main-black;
    border-radius: 4px;
    padding: 5px 10px;
    color: white;
    font-size: 12px;
  }
  &:after {
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid @main-black;
    width: 0;
    height: 0;
    display: block;
    margin: 0 auto;
  }
  &:before, &:after {
    top: -14px;
    position: relative;
    opacity: 0;
    transition: opacity 200ms linear;
  }
}

@keyframes moveHeart {
  0% { background-position: left; }
  50% { background-position: right; }
  100% { background-position: right; }
}
@-webkit-keyframes moveHeart {
  0% { background-position: left; }
  50% { background-position: right; }
  100% { background-position: right; }
}


.infinite-heart {
  animation-iteration-count: infinite;
}

.click-heart {
  cursor: pointer;
}

// .masthead{
//   background: @white;
//   z-index: 1;
//   position: relative;
//   @media screen and (max-width: 768px){
//     margin-left: -15px;
//     margin-right: -15px;
//   }
// }

.container{
  @media screen and (min-width: 1400px){
    width: 1370px;
  }
  @media screen and (min-width: 1700px){
    width: 1600px;
  }
}

/* 8. Polaroid Effects ///////////////////////////*/
.polaroid{
  img{
    width:70%;
  }
  .profile-data{
    background:@white;
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 0 10px;
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 0%;
    color: black;
    border-bottom: 2px solid;
  }
}

/*navbar*/
.navbar{
  .navbar-brand{
    @media screen and (max-width: 768px){
      margin-left: 15px;
      margin-top: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

/* 9. Services section ///////////////////////////*/
.service-section {
  // padding-top: 0;
}
.service-intro{
  font-size: 1.6em;
  text-align:right;
  margin: none;
  .flip {
    display: inline-block;
    position: relative;
    width: 13%;
    position: relative;
    top: -20px;
    -moz-perspective: 500;
    -webkit-perspective: 500;
    perspective: 500;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    @media screen and (min-width: 1700px){
      width: 8%;
      top: -25px;
    }
    span {
      font-weight: 600;
      display: block;
      width: auto;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      opacity: 0;
      -moz-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
      -webkit-transform-origin: 0% 0%;
      transform-origin: 0% 0%;
      -moz-transform: rotateX(90deg);
      -ms-transform: rotateX(90deg);
      -webkit-transform: rotateX(90deg);
      transform: rotateX(90deg);
      position: absolute;
      top: -20px;
      left: 0;
    }
  }
}

h1 .flip span.set {
  top: 0;
  opacity: 1;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
h1 .flip span.down {
  top: 40px;
  opacity: 0;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

/* 10. Testimonials ///////////////////////////*/
.tcb-quote-carousel{
  padding-top: 30px;
  @media screen and (max-width: 768px){
    margin:0px;
    padding:0px;
    i{
      text-align: center !important;
    }
  }
  .quote{
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
  }   
  .carousel-inner{
    background: @light-gray;
    height: 100%;
  } 
  .carousel {
    padding-bottom: 60px;
    background: @light-gray;
    .carousel-indicators > li {
      background-color: @gray-lighter;
      border: none;
    }
    .carousel-indicators > li.active {
      background-color: @primary-color;
    }
  }
  blockquote {
    margin-top: 15px;
    text-align: center;
    border: none;
  }
  .profile-circle {
    width: 70px;
    height: 70px;
    margin: 0 20px;
    overflow: hidden;
    border-radius: 100px;
    @media screen and (max-width: 768px){
      float: none !important;
      margin: auto;
    }
  }
}
.carousel-fade {
  .carousel-inner {
    .item {
      transition-property: opacity;
      @media (max-width: 767px) {
        h4{
          text-align: center!important;
          float: none !important;
        }
      }
    }
    .item,
    .active.left,
    .active.right {
      opacity: 0;
    }
    .active,
    .next.left,
    .prev.right {
      opacity: 1;
    }
    .next,
    .prev,
    .active.left,
    .active.right {
      left: 0;
      transform: translate3d(0, 0, 0);
    }
  }
}
.carousel-indicators{
  right: 0% !important;
  width: 10% !important;
  left: auto;
  @media screen and (max-width: 767px){
    left: 0% !important;
    width:40% !important;
    margin: auto;
  }
}


/* 11. Timeline ///////////////////////////*/
.timeline {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 450px;
  border-bottom: 1px solid #F0F3F0;
  .timeline-title {
    margin: 0;
    padding: 24px;
    text-align: center;
    border-bottom: 1px solid rgba(138, 154, 168, 0.7);
    color: #8A9AA8;
  }
  .slide-bg {
    top: 0;
    z-index: -1;
    position: absolute;
    height: 500px;
    width: 100%;
  }
  .panel-container {
    margin-top: 36px;
    height: 100%;
    width: 100%;
    position: relative;
  }
  .slide-panel {
    width: 340px;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    position: absolute;
  }
  .time-label {
    padding: 0 0 0 24px;
  }
  .panel-selected h1 {
    color:#888;
  }
  .panel-title {
    padding: 0px 0 12px 24px;
    margin: 0;
    color: #29333D;
  }
  .panel-content {
    padding: 12px 64px 18px 24px;
    color: #29333D;
  }
  .slide-nav {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
  }
  .slide-nav a {
    cursor: pointer;
    display: inline-block;
    padding: 10px 16px;
    border-left: 4px solid #F0F3F0;
    border-top: 4px solid #F0F3F0;
    color: #C2C2C2;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .slide-nav a:last-child {
    border-right: 4px solid #F0F3F0;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
  }
  .slide-nav a:first-child {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
  }
  .slide-nav a:hover {
    background: #F0F3F0;
    color: #60768B;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}

@media screen and (max-width: 648px) {
  .timeline {
    height: auto;
  }

  .panel-container {
    position: static !important;
  }

  .slide-panel {
    position: static !important;
    border-bottom: 1px solid rgba(138, 154, 168, 0.7);
    margin: auto;
  }

  .panel-title {
    padding: 0 12px !important;
    color: #29333D !important;
  }

  .panel-content {
    padding: 18px 12px !important;
    color: #29333D !important;
  }

  .time-label {
    text-align: right;
  }

  .slide-bg {
    background-position: center center !important;
    height: 100% !important;
    width: 100% !important;
    left: 0 !important;
  }

  .slide-nav {
    display: none;
  }
}
.nav-selected {
  background: #F0F3F0;
  color: #60768B !important;
}

@media screen and (min-width: 648px) {
  .panel-selected {
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
}


/* 12. About us ///////////////////////////*/
.about-content
{
  bottom: 0;
  transition:all 0.5s ease;
  .read-more
  {
    opacity: 0;
    /*color: @dark-gray;*/
    font-weight: 700;
    line-height: 2.3;
  }

  &:hover
  {
    bottom: 10px;
    .read-more
    {
      opacity: 1;     
    }
  }
}

/* 13. Overall Center Content ///////////////////////////*/
@media screen and (max-width:991px) {
  .grid-item {   
    &:hover{
      img{
        transform: scale(1);       
      }
    }
  }
  .about-content{
    bottom: 10px;
    .read-more{
      opacity: 1;     
    }    
  }
  .masthead-nav > li + li{
    margin-left: 0;
  }
}

@media screen and (max-width: 967px)
{  
  .intro, .contact-us-text
  {
    text-align: center;
    .contact-details
    {
      text-align: left;
    }
  }
  .page-title
  {
    text-align: center;
    font-size: 40px;
    padding: 9px;
    width: 70%;
    // margin: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
  .polaroid
  {
    display: block;
    &:before
    {
      display:none;
    }
  }
  .contact-details .row > div {
    padding-left: 0;
    padding-right: 9px;
    .icon
    {
      width: 37px;
    }
  }
  .grid-item
  {
    img
    {
      margin: auto;
    }   
  } 
}


/* 14. Scroll to top transition ///////////////////////////*/
.scrollup {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 50px;
  right: 15px;
  display: none;
  color: #fff;
  background-color: #000;
  text-align: center;
  line-height: 45px;
  span{
   color: #fff;
 }
}
.carousel{
  background:black;
}
.social-icons
{
  height: 30px;
  width: 30px;
  background: @dark-gray;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  line-height: 30px;
  margin-right: 5px;

  i
  {
    color: @white;
    font-size: 16px;
  }

  &.fb:hover
  {
    background-color: #205b9f;      
    opacity: .7;
  }
  &.twitter:hover
  {
    background-color: #00ace3;      
    opacity: .7;
  }
  &.insta:hover
  {
    background-color: #125688;      
    opacity: .7;
  }
  &.pin:hover
  {
    background-color: #ff4d3f;      
    opacity: .7;
  }
  &.linkedin:hover
  {
    background-color: #0077B5;      
    opacity: .7;
  }
}

/* 15. Clients section ///////////////////////////*/
.swiper-container {
  width: 100%;
  height: 100%;
  padding: 0 20px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border: 1px solid @light-gray;

  img
  {
    width: 50%;
  }
}

@media screen and (max-width: 991px)
{

  .flipper i
  {
    margin-top: 0;
  }
  .flip-container, .front, .back
  {
    height: auto;
    position: relative;
    transform: rotateY(0);
    border:none;
  }
  .flip-container
  {
    border:1px dashed @dark-gray;
    padding: 20px 0;
  }
  .flip-container:hover .flipper
  {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
  }
  .service-intro
  {
    text-align: center;
    line-height: 32px;
  }
  .timeline .panel-container .slide-panel 
  {
    .panel-title, .time-label
    {
      padding-left: 0;
    }
    .panel-content
    {
      padding-right: 24px;
    }
  }

}
@media screen and (max-width: 767px)
{
 .flip-container
 {
  border: none;
  border-bottom: 1px dashed @dark-gray;   
  padding: 35px 0;   
}

.back p
{
  padding: 20px;
}
.tcb-quote-carousel blockquote
{
  font-size: 14px;
}
.timeline .panel-container .slide-panel .panel-content
{
  padding: 12px 24px 18px 24px;
}
}
@media screen and (max-width: 568px)
{
  .service-intro .flip
  {
    width: 17%;
  }
}
@media screen and (max-width: 480px)
{
  .service-intro .flip
  {
    width: 25%;
    top: -24px;
  }

}
@media screen and (max-width: 384px)
{
  .page-title
  {
    font-size: 30px;
  }
  .timeline .panel-container .slide-panel
  {
    width: 240px;
  }
  .service-intro .flip
  {
    width: 33%;
  }
}

/* 16. Maps ///////////////////////////*/
.map-module {
  position: relative;
  width: 100%;
  height: 300px;
  margin: 0 auto;
  background: white;
  border: thin solid #ccc;
  @media (max-width: 767px) {
    height: 500px;
    margin: 0 -15px;
    width: auto;
  }
  .map-image {
    position: absolute;
    background-size: cover;
    background-position: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @media (max-width: 767px) {
      position: relative;
      width: 100%;
      height: 500px;
    }
  }
  .map-overlay {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    background: white;
    width: 300px;
    height: 230px;
    padding: 15px;
    text-align: left;
    @media (max-width: 767px) {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      transform: none;
    }
  }

}

.carousel-inner {
  i{
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
  }
}


/* 17. Misc ///////////////////////////*/
// Some overerites for the lighbox
.pswp__button.pswp__button--share {
  display: none;
}
.pswp__caption__center {
  text-align: center;
}
.pswp__caption__center {
  h4 {
    color: #fff;
    margin: 10px 0 0;
    font-size: 16px;
    font-weight: 400;
  }
}