@import 'jquery.mCustomScrollbar.css';
@import 'simple-sidebar.css';
/* Social Colors */
/*Real Wedding colors*/
.i-icon {
  background: url(../../images/sprite.png) no-repeat;
  width: 26px;
  height: 25px;
  display: inline-block;
}
.i-phone {
  background-position: -20px -58px;
}
.i-shortlist {
  background-position: -20px -139px;
}
.i-filter {
  background-position: -20px -99px;
}
.i-back {
  background-position: -20px -19px;
}
.i-dark-arrow {
  background-position: -219px -19px;
}
.i-sun {
  background-position: -20px -226px;
}
.i-marker {
  background-position: -113px -156px;
  margin: auto;
  text-align: center;
  display: block;
  height: 40px;
}
.i-filter-white {
  background-position: -216px -115px;
}
.i-sun-white {
  background-position: -216px -64px;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
.clear {
  clear: both;
}
.fit {
  /* set relative picture size */
  max-width: 100%;
  max-height: 100%;
}
.normal {
  font-weight: 300;
}
.margin-none {
  margin: 0px;
}
.image-contain {
  position: absolute;
  top: 0px;
  overflow: hidden;
}
.image img {
  max-height: inherit !important;
  width: 100%;
}
.image .no-shadow {
  position: absolute !important;
  -webkit-transition: visibility 0s 0.6s, opacity 0.6s linear;
          transition: visibility 0s 0.6s, opacity 0.6s linear;
  top: 0;
}
.image2 {
  position: absolute;
  top: 0px;
  z-index: -1;
  overflow: hidden;
}
.primary-txt {
  color: #fe943e;
}
.hide-shadow {
  opacity: 0;
  -webkit-transition: all 0.5s ease ;
          transition: all 0.5s ease ;
}
.svg-area {
  position: absolute;
  z-index: 99;
  overflow: hidden;
  width: 100%;
}
.svg-area svg {
  height: auto;
  /*position: absolute;*/
  top: 0px;
  width: 100%;
}
div#spritespin {
  width: 100% !important;
  height: 100% !important;
}
.footer {
  font-size: 14px;
  color: #ffffff;
  position: absolute;
  bottom: 10px;
  z-index: 1;
  right: 25px;
  text-align: right;
}
.footer .primary-txt {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}
.footer a {
  font-size: 14px;
  color: #ffffff;
}
body {
  -webkit-text-size-adjust: none;
  font-family: sans-serif;
  min-height: 416px;
  overflow-x: hidden;
  overflow-y: auto;
}
body h1 {
  font-size: 28px;
  font-weight: 300;
  color: #3c3c3c;
  text-align: left;
}
body h2 {
  font-size: 18px;
  font-weight: 300;
  color: #3c3c3c;
  text-align: left;
}
body small {
  display: block;
  font-size: 12px;
  margin-top: 1px;
}
body small span {
  opacity: 0.6;
}
body a {
  font-size: 12px;
  color: #fe943e;
}
.btn-primary {
  background: #fe943e !important;
  border: 1px solid #fe943e !important;
}
.btn-primary:hover,
.btn-primary.focus {
  outline: none !important;
  background: #fe943e !important;
  border: 1px solid #fe943e !important;
}
.footer {
  font-size: 12px;
  color: white;
  position: absolute;
  bottom: 10px;
  z-index: 9999;
}
.footer a {
  font-size: 12px;
  color: white;
}
.footer a:focus,
.footer a:hover {
  color: #ccc;
}
.card-swipe {
  font-size: 12px;
  padding-top: 11px;
}
.card-swipe h4 {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  margin-bottom: 5px;
  margin-top: 0px;
  text-transform: uppercase;
  padding: 0 10px;
}
.card-swipe .price {
  line-height: 20px;
  text-transform: uppercase;
  padding: 0 25px;
}
.card-swipe .price span {
  color: #fe943e;
  margin-left: 5px;
}
.card-swipe .swipe-footer {
  background: #f2f2f2;
  padding: 5px 0;
  font-weight: 200;
  line-height: 26px;
  color: #7d7c7a;
  height: 45px;
}
@media (max-width: 320px) {
  .card-swipe .swipe-footer {
    height: 40px;
  }
}
.card-swipe .swipe-footer > div {
  padding: 4px 10px;
}
.card-swipe .swipe-footer > div.matchingSelection {
  font-size: 11px;
  text-transform: uppercase;
}
.card-swipe .swipe-footer sm {
  color: #565654;
  font-weight: bold;
  font-size: 16px;
  margin-top: 2px;
  float: left;
}
.card-swipe .swipe-footer .units {
  float: left;
  margin-left: 10px;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 9px;
  text-transform: uppercase;
  font-size: 11px;
  margin-top: 2px;
  color: #bcbcba;
}
.card-swipe .swipe-footer .units b {
  color: #565654;
  font-size: 12px;
  font-weight: 400;
}
@media (max-width: 320px) {
  .card-swipe .swipe-footer .units b {
    font-size: 9px;
  }
}
.card-swipe .swipe-footer .arrow a {
  position: absolute;
  height: 40px;
  width: 40px;
  background: #bcbcba;
  text-align: center;
  border-radius: 50%;
  top: -26px;
  right: 15px;
  outline: none;
  text-decoration: none;
  border: 2px solid #ffffff;
}
.card-swipe .swipe-footer .arrow a:focus {
  color: #fe943e;
}
.card-swipe .swipe-footer .arrow a h3 {
  font-size: 16px;
  margin-top: 8px;
}
.card-swipe .swipe-footer .arrow a h3 i {
  color: #ffffff;
}
.card-swipe .swipe-unit-info {
  padding: 0 10px 5px;
  font-size: 11px;
  font-weight: 200;
  text-align: left;
  text-transform: uppercase;
}
.card-swipe .swipe-unit-info span {
  float: left;
}
.card-swipe .swipe-unit-info li {
  font-size: 12px;
  float: left;
  line-height: 1;
  margin: 0 15px;
  text-align: center;
  width: 6px;
  list-style: inside;
  color: #bcbcba;
  border: none;
}
.card-swipe .swipe-unit-info b {
  color: black;
}
@media (max-width: 320px) {
  .card-swipe h4 {
    font-size: 15px;
  }
}
.card-swipe.not-released .swipe-footer {
  background: #f2f2f2;
  color: #565654;
}
.not-released {
  background: #E4E4E4 !important;
}
.not-released .price,
.not-released .swipe-unit-info {
  opacity: .5 ;
  text-transform: uppercase;
}
.not-released .swipe-footer {
  text-transform: uppercase;
}
.not-released .swipe-footer > div {
  font-size: 10px;
  margin-top: 2px;
}
.highlight {
  border: 1px solid #fe943e !important;
}
.highlight h4 {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.highlight .swipe-footer .arrow a {
  background: #fe943e;
}
#content-1 {
  margin-top: 15%;
  width: 100%;
  height: 80% !important;
  clear: both;
}
.sidebar-nav li {
  border: 1px solid #d5d5d4;
  margin-bottom: 20px;
}
.navbar-header {
  color: white;
  z-index: 0;
  margin: 0 !important;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 120px;
  padding: 20px 20px;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.75), transparent);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), transparent);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#59000000', endColorstr='#00000000', GradientType=0);
}
.filter-type li {
  margin-left: 10px;
  font-weight: 300;
}
.filter-type li div {
  float: left;
  margin-right: 12px;
  line-height: 40px;
}
.filter-type li a i {
  float: left;
}
.filter-type li:last-child a {
  background: #fe943e;
  border: 1px solid #fe943e;
  position: relative;
}
.filter-type li:last-child a span {
  position: absolute;
  height: 15px;
  width: 15px;
  background: #ffffff;
  border-radius: 50%;
  top: 0px;
  right: -6px;
  font-size: 9px;
  text-align: center;
  padding: 2px 0 0 0;
  color: #7d7c7a;
}
.filter-type li:last-child a:hover {
  width: auto;
  border-radius: 5px;
  opacity: 1;
}
.filter-type li:last-child a:hover i {
  float: left;
}
.filter-type li:last-child a:hover div {
  float: left;
  line-height: 33px;
  margin-left: 5px;
  color: #fff;
  margin-right: 2px;
  display: block;
}
.filter-type li a {
  border: 1px solid #ccc;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: inline-block;
  padding: 5px 6px;
}
.filter-type li a:hover {
  opacity: .5;
}
.rotate {
  z-index: 999;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 0px;
  color: White;
  text-shadow: 1px 1px 1px #000;
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.75), transparent);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
}
.rotate .i-icon-rotate {
  background: url(../../images/sprite.png) no-repeat;
  width: 50px;
  height: 60px;
  background-position: -99px -20px;
  margin: auto;
  display: block;
  cursor: pointer;
}
.messageBoxDesk {
  background: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  width: auto;
  margin: auto;
  display: inline-block;
  margin-top: 30px;
  font-size: 12px;
}
.messageBoxDesk .tip {
  float: left;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
}
.messageBoxDesk .message {
  float: left;
  padding: 11px 9px 9px 9px;
  text-transform: capitalize;
}
.messageBoxDesk a {
  float: right;
  margin: 0 0 0 30px;
  color: #ffffff;
  text-decoration: none;
  outline: none;
}
.messageBoxDesk a:focus,
.messageBoxDesk a:hover {
  color: #ffffff;
  text-decoration: none;
  outline: none;
}
.navbar-header {
  z-index: 99;
}
.contactModal {
  left: 320px !important;
  top: 15% !important;
}
.contactModal .modal-body {
  float: left;
  width: 100%;
  background: #ffffff;
}
.contactModal .modal-body h4 {
  margin-top: 10px;
}
.contactModal .content {
  margin-top: 10px;
  margin-bottom: 15px;
}
.contactModal .p-0 {
  padding: 0;
}
.contactModal p {
  font-size: 14px;
  margin-top: 2px;
  color: #bcbcba;
}
.contactModal .modal-dialog {
  width: 500px;
  border-radius: 0;
}
.contactModal .modal-content {
  border-radius: 0;
}
.contactModal .rightSide {
  border-left: 1px solid #d5d5d4;
}
.contactModal .inputOuter {
  padding: 10px;
}
.contactModal .inputOuter input {
  width: 100%;
  background: none;
  border: none;
  margin-bottom: 15px;
  padding: 10px 0px 5px 0;
  border-bottom: 1px solid #d5d5d4;
  font-size: 12px;
  text-transform: uppercase;
}
.contactModal .inputOuter input:focus {
  outline: none;
}
.contactModal .close {
  position: absolute;
  z-index: 999;
  top: 10px;
  right: 10px;
  opacity: 1;
  height: 25px;
  width: 25px;
  color: #d5d5d4;
  border-radius: 50%;
  font-weight: 300;
}
.contactModal .close:hover,
.contactModal .close:focus {
  color: #d5d5d4;
  opacity: 1;
  outline: none;
}
.contactModal .close span {
  margin-top: 0;
  float: left;
  width: 100%;
}
.contactModal .modalLogo {
  height: 59px;
  width: 148px;
  background: url(../../images/logo.jpg) no-repeat;
  margin: auto;
  display: block;
  margin-top: 10px;
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
}
.contactModal .help {
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 15px;
  float: left;
  width: 100%;
}
.contactModal h5 {
  text-transform: uppercase;
  margin-top: 3px;
  float: left;
  width: 100%;
  color: #fe943e;
}
.contactModal .developers {
  text-transform: uppercase;
  font-size: 12px;
  color: #bcbcba;
  margin-bottom: 20px;
}
.modal-backdrop.in {
  left: 320px;
}
.hide-shadow {
  opacity: 0;
  -webkit-transition: all 0.5s ease ;
          transition: all 0.5s ease ;
}
.image-contain .no-shadow {
  position: absolute;
  top: 0;
}
.outSideView h6 {
  margin-top: 20px;
}
.outSideView img {
  width: 100%;
  padding-right: 10px;
}
.towerDropdown button,
.towerDropdown.open button {
  background: none;
  border: 1px solid #fe943e;
  padding: 0;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  color: #fe943e;
  line-height: 0;
  margin-top: -3px;
  box-shadow: none;
}
.towerDropdown button:focus,
.towerDropdown.open button:focus,
.towerDropdown button:hover,
.towerDropdown.open button:hover {
  background: none;
  border: 1px solid #fe943e;
  color: #fe943e;
  outline: none !important;
  box-shadow: none;
}
.styled-select {
  width: 100%;
  height: 34px;
  overflow: hidden;
  background: url(../../images/arrowDown.png) no-repeat right;
  border: none;
}
.styled-select select {
  background: transparent;
  width: 100%;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  -webkit-appearance: none;
  cursor: pointer;
  text-transform: uppercase;
}
.styled-select select:focus {
  outline: none;
}
.styled-select select option {
  font-size: 12px;
}
.logoOuter {
  float: left;
  width: 100%;
  margin-top: -15px;
}
.sideBarLogo {
  /* background:url('../../images/logo.jpg') no-repeat;*/
  height: 65px;
  width: 100%;
  float: left;
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  margin-left: -34px;
}
.unitDetails {
  padding: 5px 0 0 0 !important;
  border-top: 1px solid #bcbcba;
}
.unitDetails small {
  font-size: 12px;
  font-weight: 400;
}
.unitDetails small.zoomEffect {
  animation: zoomEffect 2s;
  -webkit-animation: zoomEffect 2s;
  -webkit-transition: -webkit-transform 0.3s ease-out;
          transition: transform 0.3s ease-out;
}
@keyframes zoomEffect {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes zoomEffect {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.titleOuter .sideBarLogo {
  width: 53%;
  margin-left: -18px;
}
.titleOuter h4 {
  float: right;
  width: 45%;
  margin-top: 27px;
  text-align: right;
  text-transform: uppercase;
  font-size: 16px;
}
.titleOuter h4 button {
  margin-left: 5px;
}
.titleOuter h4 .dropdown-menu {
  left: -30px;
}
.outSideView {
  float: left;
  width: 100%;
}
@media screen and (min-width: 1440px) {
  #content-1 {
    height: 700px !important;
  }
}
@media screen and (min-width: 1024px) {
  .filterOuter {
    width: 25% !important;
  }
}
.animsition-loading {
  z-index: 99999 !important;
}
.tabOutDesk {
  width: 100%;
  border: 20px solid #000;
  float: left;
  padding: 15px;
}
.sun-highlight {
  background: yellow !important;
}
.zoomBtns {
  float: left;
  margin-top: 40px;
  width: 25px;
  margin-left: 17px;
}
.zoomBtns button {
  width: 25px;
  text-align: center;
  padding: 2px 0px;
  margin-bottom: 5px;
}
.zoomBtns button:focus {
  outline: none;
}
.in-selection {
  fill: rgba(16, 165, 169, 0.34) !important;
}
.not-in-selection,
.not-availabel {
  fill: rgba(0, 0, 0, 0.46) !important;
}
.pop-up-in {
  -webkit-animation: pop-in 1s both;
  animation: pop-in 1s both;
}
.pop-up-out {
  -webkit-animation: pop-out 1s both;
  animation: pop-out 1s both;
}
@keyframes pop-in {
  0% {
    opacity: 0;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(0) translate(50%, 0);
  }
  100% {
    top: 50%;
    left: 50%;
    margin: -206px 0 0 -304px;
    opacity: 1;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(1) translate(0%, 0);
  }
}
@-webkit-keyframes pop-in {
  0% {
    opacity: 0;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(0) translate(50%, 0);
  }
  100% {
    top: 50%;
    left: 50%;
    margin: -206px 0 0 -304px;
    opacity: 1;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(1) translate(0%, 0);
  }
}
@keyframes pop-out {
  0% {
    top: 50%;
    left: 50%;
    margin: -206px 0 0 -304px;
    opacity: 1;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: scale(1) translate(0%, 0);
            transform: scale(1) translate(0%, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: scale(0) translate(50%, 0);
            transform: scale(0) translate(50%, 0);
  }
}
@-webkit-keyframes pop-out {
  0% {
    top: 50%;
    left: 50%;
    margin: -206px 0 0 -304px;
    opacity: 1;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(1) translate(0%, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(0) translate(50%, 0);
  }
}
.svg-light {
  opacity: 0;
}
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.7;
  z-index: 1;
}
.imageModal {
  margin-left: 0 !important;
  border: 2px solid #000000;
}
.imageModal#msg {
  position: absolute;
  height: 0;
  left: 0;
  background: wheat;
  z-index: 2;
}
.imageModal#msg.closed {
  overflow: hidden;
}
.imageModal.closed {
  border: none;
}
.imageModal .modal-dialog {
  height: 400px;
  width: 500px;
}
.imageModal .modal-dialog .modal-content {
  height: 100%;
}
.imageModal .modal-dialog .modal-body {
  height: 100%;
  overflow: hidden;
  padding: 0;
}
.imageModal .imgOuter {
  overflow: hidden;
  height: 100%;
}
.imageModal img {
  position: relative;
  /*height:100%;	*/
  margin-left: 50%;
  /* margin-top: 50%;*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-animation: slide 22s linear;
  animation: slide 22s linear;
  -webkit-animation-fill-mode: forwards;
  /* Chrome, Safari, Opera */
  animation-fill-mode: forwards;
}
@-webkit-keyframes slide {
  0% {
    margin-left: 25%;
  }
  100% {
    margin-left: 75%;
  }
}
@keyframes slide {
  0% {
    margin-left: 25%;
  }
  100% {
    margin-left: 75%;
  }
}
.imageModal .imageContent {
  position: absolute;
  bottom: -1px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.8);
  padding: 0 15px;
  width: 100%;
}
.imageModal .close {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  top: -10px;
  right: -10px;
  opacity: 1;
  height: 25px;
  width: 25px;
  border: 2px solid #ffffff;
  color: #ffffff;
  border-radius: 50%;
  font-weight: 300;
}
.imageModal .close:hover,
.imageModal .close:focus {
  color: #ffffff;
  opacity: 1;
  outline: none;
}
.imageModal .close span {
  margin-top: -2px;
  float: left;
  width: 100%;
}
.modal-backdrop.in {
  opacity: .8 !important;
}
.modalBtn {
  margin-top: 150px;
}
.float-nav {
  position: fixed;
  z-index: 1;
  top: 20px;
  right: 144px;
  width: 470px;
  height: 400px;
  padding: 6px;
  text-align: left;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 300ms cubic-bezier(0.6, -0.3, 0.3, 1.3);
          transition: all 300ms cubic-bezier(0.6, -0.3, 0.3, 1.3);
}
.float-nav.closed {
  width: 80px;
  height: 30px;
  border-radius: 3px;
}
.float-nav a {
  display: inline-block;
  color: #333;
  text-decoration: none;
}
.float-nav a:hover {
  text-decoration: none;
}
.float-nav > a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}
.float-nav .toggle {
  position: absolute;
  top: 5px;
  right: 0;
  width: 20px;
  height: 20px;
  font-size: 16px;
  line-height: 1.375em;
  font-weight: 300;
  text-align: center;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -webkit-transform-origin: 50%;
      -ms-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-transition: all 300ms;
          transition: all 300ms;
  text-decoration: none;
  outline: none;
}
.float-nav .toggle:before {
  content: '+';
  color: #565654;
}
.float-nav .toggle:after {
  content: '';
  margin-left: 39px;
  line-height: 0;
  color: #565654;
  font-size: 20px;
  text-transform: uppercase;
  float: left;
  margin-top: 0;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.float-nav.closed .toggle:after {
  content: 'Filter';
}
.float-nav.closed:hover .float-nav.closed .toggle {
  width: 90px;
  height: 30px;
}
.float-nav.closed .toggle:before {
  content: '';
}
.float-nav.closed .toggle {
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
  text-decoration: none;
  width: 131px;
  height: 30px;
  background: url(../../images/spriteNew.png) no-repeat;
  background-position: -6px -73px;
  z-index: 9999;
  top: -9px;
  transform: scale(0.6);
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  left: -25px;
  padding: 24px 5px;
  border-radius: 7px;
}
.float-nav ul {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  width: 100%;
  list-style: none;
  height: 100%;
  margin-bottom: 0;
  margin-top: 0;
}
.float-nav.closed ul {
  opacity: 0;
}
.float-nav li {
  color: #333;
  padding: 10px;
  margin-bottom: 0;
  -webkit-transition: all 600ms;
          transition: all 600ms;
  float: left;
  width: 100%;
}
.float-nav li h6 {
  margin: 8px 0 0 0;
  font-size: 100%;
  font-weight: 600;
}
.float-nav.closed li {
  margin-bottom: 1.375em;
}
.float-nav li.filterLiTop {
  border-bottom: 1px solid #bcbcba;
}
.float-nav li.filterLiTop h5 {
  margin: 10px 0 0 0;
  float: left;
  font-weight: 600;
}
.float-nav li.filterLiTop h5 .filterHeader {
  color: #fe943e;
}
.float-nav li.filterLiTop button {
  margin-right: 20px;
}
.float-nav li.filterCheckbox {
  background: #f6f6f6;
  padding: 10px 2px 0px;
}
.float-nav li.filterCheckbox div {
  padding: 0 5px;
  margin-bottom: 10px;
}
.float-nav li.filterCheckbox div label {
  float: left;
  font-size: 100%;
  margin-top: 0px;
  text-transform: uppercase;
  margin-left: 5px;
  font-weight: 200;
  color: #7d7c7a;
  margin-bottom: 0;
}
.float-nav li.filterCheckbox input[type=checkbox] {
  position: absolute;
  opacity: 0;
  height: 15px;
  width: 100%;
  left: 0;
  margin-top: 0;
}
.float-nav li.filterCheckbox label.checkboxLabel {
  height: 15px;
  width: 15px;
  background: none;
  border: 2px solid #d5d5d4;
  text-align: center;
  margin-top: 2px !important;
}
.float-nav li.filterCheckbox input[type=checkbox]:checked + label:before {
  content: "\2714";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 100%;
  color: #f3f3f3;
  text-align: center;
  line-height: 15px;
  background: #12acac;
  border: none;
  width: 15px;
  height: 15px;
  font-weight: 400;
  padding-top: 2px;
  display: block;
  border: 2px solid rgba(0, 0, 0, 0);
  margin: -2px 0 0 -2px;
  line-height: 0.8;
}
.float-nav li.budgetOuter {
  background: #f6f6f6;
  padding: 0;
  float: left;
  width: 100%;
}
.float-nav li.budgetOuter > div {
  padding: 10px;
  background: #f6f6f6;
}
.float-nav li.budgetOuter > div:first-child {
  border-right: 1px solid #bcbcba;
}
.float-nav li.budgetOuter > div select {
  border: none;
  background: #f6f6f6;
  width: 100%;
  font-size: 100%;
  border-bottom: 1px solid #bcbcba;
  padding: 5px;
}
.float-nav li.budgetOuter > div select:focus {
  outline: none;
}
.float-nav li.additionalFilters {
  cursor: pointer;
}
.float-nav li.additionalFilters h6 {
  color: #fe943e;
}
.float-nav li.additionalFilters h6 i {
  font-size: 100%;
  line-height: 0;
  height: 3px;
  vertical-align: middle;
}
.float-nav li.moreFilters {
  padding: 0;
  background: none;
  display: none;
}
.float-nav li.moreFilters ul {
  position: relative;
  float: left;
  width: 100%;
}
.float-nav li.moreFilters ul li:first-child {
  padding-top: 0;
}
.float-nav li.moreFilters ul li.facingContent {
  background: #f2f2f2;
  padding: 10px 2px 0;
}
.filterOuter .sun-toggle {
  position: absolute;
  left: 0px;
  height: 22px;
  width: 49px;
  background: #ffffff;
  border-radius: 3px;
  top: 3px;
  outline: none;
}
.filterOuter .sun-toggle:focus {
  outline: none;
}
.filterOuter .sun-toggle i.sunImg {
  width: 40px;
  height: 31px;
  background: url(../../images/spriteNew.png) no-repeat;
  background-position: -8px -121px;
  position: absolute;
  left: -9px;
  top: -7px;
  transform: scale(0.6);
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
}
.filterOuter .sun-toggle .sunText {
  float: left;
  margin-top: 5px;
  font-size: 10px;
  margin-left: 22px;
  color: #333;
  text-transform: uppercase;
}
.filterOuter .sun-toggle.sun-highlight {
  background: #fff600;
}
.filterOuter .filterCountDesk {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #fe943e;
  color: #ffffff;
  top: -4px;
  right: -4px;
  z-index: 1;
  border-radius: 50%;
  text-align: center;
  font-size: 10px;
  line-height: 1.5;
  opacity: 1;
}
@media screen and (max-width: 1440px) {
  .float-nav {
    width: 395px;
    height: 370px;
  }
  .float-nav li.filterCheckbox div label {
    font-size: 81%;
    margin-top: 2px;
  }
  .float-nav li.budgetOuter > div select {
    font-size: 83%;
  }
  .float-nav li h6,
  .float-nav li.filterLiTop h5 {
    font-size: 85%;
  }
}
.step4Body .modal-backdrop.in,
.step4Body .contactModal {
  left: 0 !important;
}
.step4Desk {
  padding: 15px 0 !important;
}
.step4Desk .backOuter {
  padding: 0;
}
.step4Desk .backOuter i {
  float: left;
  transform: scale(0.6);
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  margin-left: -5px;
}
.step4Desk .backOuter .back {
  font-size: 12px;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
}
.step4Desk h4 {
  float: left;
  font-size: 20px;
  margin: 10px 0 0 0;
}
.step4Desk .available {
  border: 1px solid #0eab08;
  border-radius: 3px;
  font-size: 10px;
  padding: 2px 5px 1px;
  color: #0eab08;
  margin-top: 10px;
  float: left;
  margin-left: 10px;
}
.step4Desk .rightSide {
  padding-top: 25px;
}
.step4Desk .rightSide button i {
  margin-left: 5px;
}
.step4Desk .flatDetails {
  margin-top: 5px;
  padding-left: 25px;
  border-bottom: 1px solid #d5d5d4;
  padding-bottom: 10px;
}
.step4Desk .flatDetails .units {
  float: left;
  font-size: 12px;
  color: #bcbcba;
  margin: 0 5px;
}
.step4Desk .flatDetails ul {
  float: left;
  margin: 0;
  text-align: center;
}
.step4Desk .flatDetails ul li {
  float: left;
  color: #bcbcba;
  margin: 0 10px;
  list-style: inside;
  line-height: 1;
  width: 5px;
}
.step4Desk .tabHeader ul {
  margin-bottom: 0;
}
.step4Desk .tabHeader ul li {
  display: inline-block;
  padding: 20px 30px 0 30px;
}
.step4Desk .tabHeader ul li:first-child {
  padding-left: 15px;
}
.step4Desk .tabHeader ul li a {
  color: #565654;
  padding-bottom: 15px;
  float: left;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  text-decoration: none;
  outline: none;
}
.step4Desk .tabHeader ul li a:hover,
.step4Desk .tabHeader ul li a:focus {
  text-decoration: none;
  outline: none;
  color: #fe943e;
}
.step4Desk .tabHeader ul li a.active {
  color: #fe943e;
  border-bottom: 2px solid #fe943e;
}
.step4Desk .tabHeader ul li.stickyButtons {
  display: none;
  padding-top: 15px;
}
.step4Desk .tabHeader.stick {
  position: fixed;
  top: 0;
  z-index: 10000;
  background: #ffffff;
  width: 100%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.step4Desk .tabHeader.stick .stickyButtons {
  display: block;
}
.step4Desk .contentHEader {
  background: #f6f6f6;
  padding: 15px 25px;
}
.step4Desk .contentHEader .contentTitle {
  padding: 5px 20px 5px 0;
  border-right: 1px solid #bcbcba;
  color: #706f6d;
  font-weight: 600;
}
.step4Desk .contentHEader .contentText {
  padding: 0 20px;
  color: #7d7c7a;
}
.step4Desk .detailView {
  margin-bottom: 50px;
}
.step4Desk .detailView .contentHEader {
  margin-top: -5px;
}
.step4Desk .detailView .unit h5 {
  margin-top: 0;
  font-weight: 600;
  margin-bottom: 20px;
}
.step4Desk .detailView .unit .roomDetails {
  margin-top: 50px;
  border-right: 1px solid #f6f6f6;
}
.step4Desk .detailView .unit .roomDetails .left,
.step4Desk .detailView .unit .roomDetails .right {
  color: #bcbcba;
  font-size: 12px;
  padding: 5px 15px;
}
.step4Desk .detailView .unit .roomDetails .right {
  color: #565654;
}
.step4Desk .floorDetails {
  padding: 30px 15px;
  margin-bottom: 50px;
}
.step4Desk .floorDetails img {
  width: 100%;
  height: 400px;
}
.step4Desk .floorDetails .plan {
  margin-top: 20px;
  font-size: 12px;
  font-weight: 600;
}
.step4Desk .outsideView .floorDetails .plan {
  margin-top: 0;
  margin-bottom: 10px;
}
.step4Desk .amenitiesDetails .row > div {
  margin: 20px 0;
}
.step4Desk .amenitiesDetails .icon {
  float: left;
  width: 40px;
  height: 40px;
  border: 1px solid #7d7c7a;
  border-radius: 50%;
  text-align: center;
  line-height: 2.8;
}
.step4Desk .amenitiesDetails .text {
  float: left;
  width: 70%;
  padding-left: 10px;
  margin-top: 12px;
  font-size: 12px;
  font-weight: 600;
}
.step4Desk .amenitiesDetails .disabled .icon {
  background: #d5d5d4;
}
.step4Desk .amenitiesDetails .disabled .text {
  color: #bcbcba;
}
.step4Desk .similarFlat {
  margin-top: 40px;
  margin-bottom: 50px;
}
.step4Desk .similarFlat .contentTitle {
  border-right: none;
}
.step4Desk .similarFlat .moreFlats {
  padding: 30px 15px;
}
.step4Desk .similarFlat .moreFlats .card-swipe h5 {
  padding: 5px 10px 15px;
  font-weight: 600;
}
.step4Desk .similarFlat .moreFlats .card-swipe ul {
  float: left;
}
.step4Desk .specificationOuter {
  margin-top: 30px;
}
.step4Desk .specificationOuter .contentHEader {
  margin-bottom: 20px;
}
.step4Desk .specificationOuter .contentTitle {
  border-right: none;
}
.step4Desk .specificationOuter h4 {
  margin-bottom: 20px;
}
.step4Desk .specificationOuter .textInner {
  margin-bottom: 30px;
  color: #7d7c7a;
}
.step4Desk .specificationOuter .textInner h5 {
  margin-bottom: 10px;
  color: #565654;
}
.pNone {
  padding: 0 !important;
}
/*# sourceMappingURL=custom-big.css.map */