/* Social Colors */
/*Real Wedding colors*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
html,
body {
  height: 100%;
}
body {
  -webkit-text-size-adjust: none;
  font-family: sans-serif;
  min-height: 416px;
}
body h1 {
  font-size: 33px;
  margin: 50px 0 15px;
  text-align: center;
  color: #212121;
}
body h2 {
  font-size: 14px;
  font-weight: bold;
  color: #3c3c3c;
  margin: 20px 10px 10px;
  text-align: center;
}
body small {
  display: block;
  font-size: 12px;
  opacity: .6;
  margin-top: 1px;
}
body a {
  font-size: 12px;
  color: #fe943e;
}
.fit {
  /* set relative picture size */
  max-width: 100%;
  max-height: 100%;
}
.normal {
  font-weight: 300;
}
.margin-none {
  margin: 0px;
}
body .row {
  margin-right: 0px;
  margin-left: 0px;
}
.navbar-default {
  border: 0px !important;
}
.navbar-default .navbar-header {
  color: white;
  z-index: 99;
  margin: 0 !important;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 120px;
  padding: 10px;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.96), transparent);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.96), transparent);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#59000000', endColorstr='#00000000', GradientType=0);
}
.navbar-default .navbar-header .badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 3px;
  font-size: 11px;
  font-weight: 300;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #F89B1A;
  position: absolute;
  right: -8px;
  border-radius: 100%;
  width: 19px;
  height: 20px;
}
.navbar-default .navbar-header h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.navbar-default .p-0 {
  padding: 0px;
}
.navbar-default .filterNumber {
  position: absolute;
  top: -3px;
  right: -3px;
  background: #fe943e;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  font-size: 10px;
}
.navbar-default .backIcon {
  text-align: center;
  margin: 12px 10px;
  display: block;
}
.navbar-default a:focus {
  outline: none;
}
.sun-toggle {
  width: 40px;
  height: 40px;
  background: #fff;
  z-index: 9999;
  position: absolute;
  left: 4%;
  top: 14%;
  border-radius: 100%;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.44);
  padding: 5px 4px;
}
.sun-highlight {
  background: yellow;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../../fonts/glyphicons-halflings-regular.eot');
  src: url('../../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
/* Rotate*/
.rotate {
  width: 40px;
  height: 40px;
  background: url(../../images/sprite.png) #fe943e no-repeat;
  background-position: -105px -30px;
  z-index: 9999;
  position: absolute;
  right: 4%;
  bottom: 31%;
  border-radius: 100%;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.44);
  padding: 5px 4px;
}
@media (max-width: 320px) {
  .rotate {
    bottom: 33%;
  }
}
/* Swipe css*/
#console {
  font-size: 12px;
  font-family: "Inconsolata", "Monaco", "Consolas", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  color: #999;
  line-height: 18px;
  margin-top: 20px;
  max-height: 150px;
  overflow: auto;
}
.card-swipe {
  bottom: -18px;
  position: fixed;
  font-size: 11px;
  padding-top: 15px;
  padding-bottom: 11px;
}
.card-swipe h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  color: #565654;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.card-swipe .price {
  line-height: 20px;
  text-transform: uppercase;
}
.card-swipe .price .price-tag {
  color: #fe943e;
  margin-left: 5px;
}
.card-swipe .swipe-footer {
  background: #f2f2f2;
  padding: 5px 0;
  font-weight: 200;
  line-height: 26px;
  color: #7d7c7a;
  height: 45px;
}
@media (max-width: 320px) {
  .card-swipe .swipe-footer {
    height: 40px;
  }
}
.card-swipe .swipe-footer sm {
  color: #565654;
  font-weight: bold;
  font-size: 16px;
  margin-top: 2px;
  float: left;
}
.card-swipe .swipe-footer .units {
  float: left;
  margin-left: 10px;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 9px;
  text-transform: uppercase;
  font-size: 9px;
  margin-top: 5px;
  color: #bcbcba;
}
.card-swipe .swipe-footer .units b {
  color: #565654;
  font-size: 10px;
  font-weight: 400;
}
@media (max-width: 320px) {
  .card-swipe .swipe-footer .units b {
    font-size: 9px;
  }
}
.card-swipe .swipe-footer .arrow a {
  position: absolute;
  height: 40px;
  width: 40px;
  background: #fe943e;
  text-align: center;
  border-radius: 50%;
  top: -26px;
  right: 15px;
  outline: none;
  text-decoration: none;
  border: 2px solid #ffffff;
}
.card-swipe .swipe-footer .arrow a:focus {
  color: #fe943e;
}
.card-swipe .swipe-footer .arrow a h3 {
  font-size: 16px;
  margin-top: 8px;
}
.card-swipe .swipe-footer .arrow a h3 i {
  color: #ffffff;
}
.card-swipe .swipe-footer .matchSelection {
  padding-top: 2px;
}
.card-swipe .swipe-unit-info {
  padding: 0 0 5px 0;
  font-size: 11px;
  font-weight: 200;
  text-align: left;
  text-transform: uppercase;
}
.card-swipe .swipe-unit-info span {
  float: left;
}
.card-swipe .swipe-unit-info li {
  font-size: 12px;
  float: left;
  line-height: 1.3;
  margin: 0 15px;
  text-align: center;
  width: 6px;
  list-style: inside;
  color: #bcbcba;
}
.card-swipe .swipe-unit-info b {
  color: black;
}
@media (max-width: 320px) {
  .card-swipe h4 {
    font-size: 15px;
  }
  .card-swipe .row div {
    padding: 0 9px;
  }
  .card-swipe .swipe-unit-info {
    font-size: 10px;
  }
}
.card-swipe.not-released .swipe-footer {
  background: #f6f6f6;
  padding-top: 8px;
}
.card-swipe.not-released .swipe-footer > div {
  color: #565654;
}
.not-released {
  background: #E4E4E4 !important;
}
.not-released .price,
.not-released .swipe-unit-info {
  opacity: .5 ;
}
.hide-div {
  display: none;
}
.us-right-content {
  overflow: auto;
}
.us-right-content .image-contain {
  width: 100%;
  overflow: auto;
}
/* Modal CSS */
.modal-full-width {
  z-index: 99999 !important;
  overflow-y: hidden!important;
}
.modal-full-width .modal-dialog {
  margin: 0px;
  top: 0px;
  height: 100%;
}
.modal-full-width .modal-dialog .modal-content {
  border-radius: 0px;
  height: 100%;
}
.modal-full-width .modal-dialog .modal-content .modal-header {
  background: #333;
  color: white;
  padding: 10px 0PX;
}
.modal-full-width .modal-dialog .modal-content .modal-header .modal-title {
  line-height: 1.7;
}
.modal-full-width .modal-dialog .modal-content .modal-body {
  padding: 0px !important;
  overflow-x: scroll;
  height: 100%;
}
/* svg */
.in-selection {
  fill: rgba(16, 165, 169, 0.34) !important;
  opacity: .9 !important;
}
.not-in-selection,
.not-availabel {
  fill: rgba(0, 0, 0, 0.46) !important;
  opacity: .9 !important;
}
.site-wrapper.animsition {
  height: 100% !important;
  opacity: .9 !important;
}
@media screen and (max-width: 767px) and (orientation: landscape) {
  .rotate {
    bottom: 47%;
  }
}
.svg-light {
  opacity: 0;
}
.i-icon {
  background: url(../../images/sprite.png) no-repeat;
  width: 26px;
  height: 25px;
  display: inline-block;
}
.i-phone {
  background-position: -20px -58px;
}
.i-shortlist {
  background-position: -20px -139px;
}
.i-filter {
  background-position: -20px -99px;
}
.i-back {
  background-position: -20px -19px;
}
.i-dark-arrow {
  background-position: -219px -19px;
}
.i-sun {
  background-position: -20px -226px;
}
.i-marker {
  background-position: -113px -156px;
  margin: auto;
  text-align: center;
  display: block;
  height: 40px;
}
.i-filter-white {
  background-position: -216px -115px;
}
.i-sun-white {
  background-position: -216px -64px;
}
.slick-slide .card-swipe {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
#disqus_thread {
  margin-top: 20px;
}
* {
  box-sizing: border-box;
}
.bottom-card {
  position: absolute;
  bottom: 0;
  width: 100% !important;
}
.slick-slide {
  height: auto !important;
}
.blue {
  color: #fff;
}
.blue .card-swipe {
  background: #fff;
  color: #fe943e;
  margin: 10px;
  position: relative;
}
.variable-width .slick-slide p {
  background: #fff;
  height: 100px;
  color: #3498db;
  margin: 5px;
  line-height: 100px;
}
.button {
  background: #3498db;
  color: #fff;
  display: block;
  font-size: 16px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  width: 48%;
}
.buttons {
  padding: 0 20px 20px;
  margin-bottom: 10px;
}
.buttons .button {
  background: #FFF;
  color: #3498db;
  float: left;
  margin: 5px;
}
.center .slick-center .card-swipe {
  -moz-transform: scale(1.18);
  -ms-transform: scale(1.18);
  -o-transform: scale(1.18);
  -webkit-transform: scale(1.18);
  color: #000;
  opacity: 1;
  -webkit-transform: scale(1.18);
      -ms-transform: scale(1.18);
          transform: scale(1.18);
}
.center .card-swipe {
  opacity: 0.8;
  -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
}
.content {
  margin: auto;
  padding: 20px;
  width: 600px;
}
.content:after,
.buttons::after {
  clear: both;
  content: "";
  display: table;
}
.destroy {
  font-weight: 400;
  margin-top: 40px;
}
.features {
  display: block;
  list-style-type: none;
  margin-top: 30px;
  padding: 0;
  text-align: center;
}
.features li {
  margin: 20px 0;
}
.filter .button {
  background: #FFF;
  color: #3498db;
  margin-bottom: 40px;
}
.fixed-header {
  background: #FFF;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  display: none;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}
.fixed-header .header-content {
  margin: auto;
  width: 600px;
}
.fixed-header .subheading {
  display: none;
}
.fixed-header h1.title {
  float: left;
  font-size: 24px;
  margin: 0;
}
.fixed-header ul.nav {
  float: right;
  margin: 0;
  padding: 5px;
}
.fixed-header ul.nav li {
  margin: 0 0 0 10px;
}
.header {
  padding: 20px 0;
}
.margin-40 {
  margin-bottom: 40px;
}
.more,
.button.first {
  margin-top: 40px;
}
.red {
  background: #e74c3c;
  color: #fff;
}
.slick-slide .image {
  padding: 10px;
}
.slick-slide img {
  border: 5px solid #FFF;
  display: block;
  width: 100%;
}
.slick-slide img.slick-loading {
  border: 0;
}
.subheading {
  color: #555;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  margin: 10px auto;
  text-align: center;
}
.white {
  background: #fff;
  color: #3498db;
}
.white pre,
.white hr {
  background: #3498db !important;
}
ul.nav {
  margin-bottom: 0;
  padding-left: 0;
  text-align: center;
}
ul.nav li {
  display: inline-block;
  list-style-type: none;
  margin: 0 20px;
}
ul.nav li a {
  font-size: 14px;
  text-decoration: none;
}
#carbonads {
  max-width: 320px;
  width: 100%;
  color: white;
  background: white;
  padding: 20px 20px 20px;
  margin: 0px auto 40px;
  text-align: center;
  position: relative;
  top: 40px;
}
#carbonads a {
  display: inline-block;
  margin-bottom: 0px;
  font-size: 10px;
  line-height: 1.5;
}
#carbonads .carbon-img {
  margin-bottom: 10px;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
.clear {
  clear: both;
}
.fit {
  /* set relative picture size */
  max-width: 100%;
  max-height: 100%;
}
.normal {
  font-weight: 300;
}
.margin-none {
  margin: 0px;
}
.image-contain {
  position: absolute;
  top: 0px;
  overflow: hidden;
}
.image img {
  max-height: inherit !important;
  width: 100%;
}
.image .no-shadow {
  position: absolute !important;
  -webkit-transition: visibility 0s 0.6s, opacity 0.6s linear;
          transition: visibility 0s 0.6s, opacity 0.6s linear;
  top: 0;
}
.image2 {
  position: absolute;
  top: 0px;
  z-index: -1;
  overflow: hidden;
}
.primary-txt {
  color: #fe943e;
}
.hide-shadow {
  opacity: 0;
  -webkit-transition: all 0.5s ease ;
          transition: all 0.5s ease ;
}
.svg-area {
  position: absolute;
  z-index: 99;
  overflow: hidden;
  width: 100%;
}
.svg-area svg {
  height: auto;
  /*position: absolute;*/
  top: 0px;
  width: 100%;
}
div#spritespin {
  width: 100% !important;
  height: 100% !important;
}
.footer {
  font-size: 14px;
  color: #ffffff;
  position: absolute;
  bottom: 10px;
  z-index: 1;
  right: 25px;
  text-align: right;
}
.footer .primary-txt {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}
.footer a {
  font-size: 14px;
  color: #ffffff;
}
.tabHeader {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 9999;
  background: #ffffff;
}
.tabHeader .title {
  margin-top: 10px;
}
.tabHeader .title h3 {
  color: #565654;
  display: inline-block;
  margin: 14px 0 16px;
  font-size: 16px;
  text-transform: uppercase;
}
@media screen and (max-width: 320px) {
  .tabHeader .title h3 {
    font-size: 15px;
    margin-top: 12px;
  }
}
.tabHeader .title a {
  color: #565654;
  display: inline-block;
  margin: 8px 10px 0 20px;
  font-size: 20px;
  float: left;
}
@media screen and (max-width: 320px) {
  .tabHeader .title a {
    margin-top: 5px;
  }
}
.tabHeader .nav-tabs {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  border-bottom: none;
}
.tabHeader .nav-tabs li {
  width: 25%;
  margin: 0;
}
.tabHeader .nav-tabs li.active a,
.tabHeader .nav-tabs li:hover a,
.tabHeader .nav-tabs li:focus a {
  margin: 0 !important;
  border: none !important;
  border-bottom: 3px solid #fe943e !important;
  color: #565654;
  background: none;
}
.tabHeader .nav-tabs li a {
  color: #bcbcba;
  margin: 0;
  border: none;
  font-size: 11px;
  text-transform: uppercase;
  padding: 5px;
}
@media screen and (max-width: 320px) {
  .tabHeader .nav-tabs li a {
    padding: 3px;
    font-size: 10px;
  }
}
.tab-content {
  padding: 15px;
  margin-top: 85px;
  margin-bottom: 30px;
  float: left;
  width: 100%;
}
.tab-content .details {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 15px
  /*&:last-child
	{
		margin-bottom:50px;
	}*/
}
.tab-content .details h4 {
  display: inline-block;
  color: #565654;
  font-weight: normal;
  margin-top: 20px;
  text-transform: uppercase;
}
.tab-content .details h5 {
  margin-top: 20px;
}
.tab-content .details .flatDetails {
  border-bottom: 1px solid #bcbcba;
}
.tab-content .details .flatDetails span {
  color: #706f6d;
  display: inline-block;
  font-size: 14px;
  margin: 0 0 0 15px;
}
.tab-content .details .flatDetails .price {
  margin-bottom: 15px;
  font-size: 14px;
}
.tab-content .details .flatDetails .price span {
  color: #bcbcba;
}
.tab-content .details .flatDetails .price span.availability {
  color: #12acac;
  text-align: right;
  float: right;
}
.tab-content .details .flatDetails .dimensionalViewBtn {
  float: right;
  margin-top: 15px;
}
.tab-content .details .flatDetails .dimensionalViewBtn a {
  border: 1px solid #bcbcba;
  padding: 5px;
  color: #565654;
  font-size: 10px;
  font-weight: 700;
  float: left;
  text-decoration: none;
  outline: none;
}
.tab-content .details .flatDetails .dimensionalViewBtn a:first-child {
  border-radius: 10px 0 0 10px;
  background: #d5d5d4;
}
.tab-content .details .flatDetails .dimensionalViewBtn a:last-child {
  border-left: 0;
  border-radius: 0 10px 10px 0;
}
.tab-content .details .flatDetails .dimensionalViewBtn a:focus,
.tab-content .details .flatDetails .dimensionalViewBtn a:hover {
  text-decoration: none;
  outline: none;
}
.tab-content .details .twodView img {
  width: 100%;
  margin-bottom: 15px;
  margin-top: 15px;
}
.tab-content .details .twodView a {
  /*background:url('../../images/sprite.png') no-repeat;
				background-position:-105px -30px;*/
  position: absolute;
  z-index: 1;
  right: 20px;
  bottom: 20px
  /*height:40px;
				width:40px;*/
}
.tab-content .details .twodView a i {
  color: #ffffff;
}
.tab-content .projectDetails {
  margin-top: 20px;
}
.tab-content .projectDetails .roomHeading {
  padding: 0;
  margin-bottom: 10px;
}
.tab-content .projectDetails .roomHeading span {
  float: left;
  height: 40px;
  width: 40px;
}
.tab-content .projectDetails .roomHeading h4 {
  color: #fe943e;
  margin: 6px 0 0px 5px;
  font-weight: normal;
  float: left;
  text-transform: uppercase;
}
.tab-content .projectDetails .row {
  margin-bottom: 15px;
}
.tab-content .projectDetails .row .left {
  color: #bcbcba;
  font-size: 14px;
  padding-left: 0;
}
.tab-content .projectDetails .row .right {
  color: gray-darker;
  font-size: 14px;
  padding-right: 0;
}
.tab-content .gallery h5 {
  margin-top: 15px;
}
.tab-content .gallery img {
  width: 100%;
  margin-bottom: 15px;
}
.tab-content .gallery a {
  /*background:url('../../images/sprite.png') no-repeat;
			background-position:-105px -30px;*/
  position: absolute;
  z-index: 1;
  right: 10px;
  bottom: 20px
  /*height:40px;
			width:40px;	*/
}
.tab-content .gallery a i {
  color: #ffffff;
}
.tab-content #Fullscreen {
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.tab-content #Fullscreen img {
  height: 100%;
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 320px) {
  .tab-content {
    margin-top: 75px;
  }
}
.tabfooter {
  position: fixed;
  bottom: -1px;
  width: 100%;
  float: left;
  /*left: 0;	  */
  color: #ffffff;
  text-align: center;
  z-index: 9999;
}
.tabfooter button {
  margin: 0;
  border: none;
  background: #fe943e;
  padding: 5px;
  text-transform: uppercase;
  font-size: 10px;
}
.tabfooter button:first-child {
  border-right: 1px solid #ffffff;
}
.tabfooter button div {
  float: left;
  width: 100%;
  margin-bottom: 5px;
}
/* ToolTip */
.qtip-light {
  border: 0px !important;
  background: none!important;
  color: #fff!important;
  font-size: 14px!important;
}
.qtip-light .qtip-content {
  background: #000;
  border: 0px;
  border-radius: 3px;
  padding: 10px;
}
.qtip-light:after,
.qtip-light:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.qtip-light:after {
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #000;
  border-width: 10px;
  margin-left: -10px;
}
.hasTooltip {
  position: absolute;
  z-index: 9999;
}
.p-0 {
  padding: 0 !important;
}
.m-t-20 {
  margin-top: 20px;
}
.filterHeader {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 9999;
  background: #373737;
}
.filterHeader .title {
  color: #ffffff;
}
.filterHeader .title h3 {
  display: inline-block;
  margin: 10px 0;
}
.filterHeader .title a {
  display: inline-block;
  margin: 8px 10px 0 20px;
  font-size: 20px;
  float: left;
}
.filterHeader .title a i {
  color: #ffffff;
}
.filterHeader .title span {
  font-size: 16px;
  margin: 14px 15px 0 0;
}
.filter-content {
  width: 100%;
  margin-bottom: 55px;
  float: left;
}
.filter-content .imagecheckboxOuter {
  margin-bottom: 20px;
  width: 100%;
  padding: 20px 0;
  background: #f6f6f6;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
}
.filter-content .imagecheckboxOuter .checkboxInner {
  padding: 25px 10px 15px 10px;
  border: 1px solid rgba(0, 0, 0, 0);
}
.filter-content .imagecheckboxOuter .checkboxInner.selected {
  border: 1px solid #12acac;
  background: #ffffff;
}
.filter-content .imagecheckboxOuter .checkboxInner.selected span {
  color: #12acac;
}
.filter-content .imagecheckboxOuter .checkboxInner input {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  margin: 0;
  z-index: 2;
}
.filter-content .imagecheckboxOuter .checkboxInner img {
  width: 50%;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition-property: -webkit-filter, filter;
          transition-property: filter;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}
.filter-content .imagecheckboxOuter .checkboxInner span {
  color: #7d7c7a;
  margin-top: 5px;
  padding: 0;
  font-size: 10px;
}
.filter-content .imagecheckboxOuter.viewType {
  margin-bottom: 0;
  border-bottom: none;
}
.filter-content .checkboxOuter {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
.filter-content .checkboxOuter .checkboxnormal {
  background: #f6f6f6;
  float: left;
  width: 100%;
  padding: 10px;
  height: 60px;
  border-bottom: 1px solid #d5d5d4;
}
.filter-content .checkboxOuter .checkboxnormal:first-child {
  border-top: 1px solid #d5d5d4;
}
.filter-content .checkboxOuter .checkboxnormal h5 {
  margin-top: 14px;
}
.filter-content .checkboxOuter .checkboxnormal span {
  padding-right: 0;
}
.filter-content .checkboxOuter .checkboxnormal input[type=checkbox] {
  position: absolute;
  opacity: 0;
  height: 25px;
  width: 100%;
  left: 0;
}
.filter-content .checkboxOuter .checkboxnormal label {
  height: 20px;
  width: 20px;
  background: none;
  border: 2px solid #d5d5d4;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 50px;
}
.filter-content .checkboxOuter .checkboxnormal input[type=checkbox]:checked + label:before {
  content: "\2714";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  color: #f3f3f3;
  text-align: center;
  line-height: 15px;
  background: #12acac;
  border: none;
  width: 20px;
  height: 20px;
  font-weight: 400;
  padding-top: 1px;
  display: block;
  border: 2px solid rgba(0, 0, 0, 0);
  margin: -2px 0 0 -2px;
}
.filter-content .checkboxOuter .checkboxnormal .availableUnits {
  margin-top: 12px;
}
.filter-content .budgetOuter {
  background: #f6f6f6;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 20px;
}
.filter-content .budgetOuter div {
  padding: 20px 15px;
}
.filter-content .budgetOuter div:first-child {
  border-right: 1px solid #d5d5d4;
}
.filter-content .budgetOuter div input {
  border: none;
  background: none;
  padding: 5px;
  width: 100%;
  border-bottom: 1px solid #bcbcba;
  outline: none;
}
.filter-content .budgetOuter div input:focus {
  outline: none;
}
.filter-content .budgetOuter div select {
  border: none;
  background: none;
  padding: 5px;
  width: 100%;
  border-bottom: 1px solid #bcbcba;
  outline: none;
}
.filter-content .budgetOuter div select:focus {
  outline: none;
}
.filter-content .budgetOuter div select option {
  background: none;
  border: none;
  font-size: 10px;
}
.filterfooter {
  /*position: fixed;
    bottom: -1px;*/
  width: 100%;
  /*left: 0;	   */
  color: #ffffff;
  float: left;
  text-align: center
  /*z-index:9999;   */
}
.filterfooter button {
  margin: 0;
  border: none;
  background: #fe943e;
  padding: 10px;
  text-transform: uppercase;
  font-size: 14px;
}
.selected img {
  -webkit-filter: grayscale(0) !important;
          filter: grayscale(0) !important;
}
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.7;
  z-index: 1;
}
.imageModal {
  margin-left: 0 !important;
  border: 2px solid #000000;
}
.imageModal#msg {
  position: absolute;
  height: 0;
  left: 0;
  background: wheat;
  z-index: 2;
}
.imageModal#msg.closed {
  overflow: hidden;
}
.imageModal.closed {
  border: none;
}
.imageModal .modal-dialog {
  height: 400px;
  width: 500px;
}
.imageModal .modal-dialog .modal-content {
  height: 100%;
}
.imageModal .modal-dialog .modal-body {
  height: 100%;
  overflow: hidden;
  padding: 0;
}
.imageModal .imgOuter {
  overflow: hidden;
  height: 100%;
}
.imageModal img {
  position: relative;
  /*height:100%;	*/
  margin-left: 50%;
  /* margin-top: 50%;*/
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  -webkit-animation: slide 22s linear;
  animation: slide 22s linear;
  -webkit-animation-fill-mode: forwards;
  /* Chrome, Safari, Opera */
  animation-fill-mode: forwards;
}
@-webkit-keyframes slide {
  0% {
    margin-left: 25%;
  }
  100% {
    margin-left: 75%;
  }
}
@keyframes slide {
  0% {
    margin-left: 25%;
  }
  100% {
    margin-left: 75%;
  }
}
.imageModal .imageContent {
  position: absolute;
  bottom: -1px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.8);
  padding: 0 15px;
  width: 100%;
}
.imageModal .close {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  top: -10px;
  right: -10px;
  opacity: 1;
  height: 25px;
  width: 25px;
  border: 2px solid #ffffff;
  color: #ffffff;
  border-radius: 50%;
  font-weight: 300;
}
.imageModal .close:hover,
.imageModal .close:focus {
  color: #ffffff;
  opacity: 1;
  outline: none;
}
.imageModal .close span {
  margin-top: -2px;
  float: left;
  width: 100%;
}
.modal-backdrop.in {
  opacity: .8 !important;
}
.modalBtn {
  margin-top: 150px;
}
.unitSold {
  color: #ee1f3b;
}
.messageBox {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  padding: 0px;
  left: 21%;
  top: 14%;
  display: block;
  z-index: 9999;
  font-size: 11px;
}
.messageBox .tip {
  float: left;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
}
.messageBox .msg {
  padding: 10px;
  float: left;
}
.messageBox a {
  float: right;
  margin: 0px 0px 0px 25px;
  color: #ffffff;
  text-decoration: none;
  outline: none;
  line-height: 1.2;
}
.messageBox a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: none;
}
.tooltipOuter {
  position: absolute;
  top: 30%;
  left: 10%;
  z-index: 5;
}
.tooltipOuter a {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.7);
  padding: 12px;
  text-decoration: none;
}
.tooltipOuter a:focus {
  color: #ffffff;
  text-decoration: none;
}
/*# sourceMappingURL=custom.css.map */