.page-content {
  background: #f9f9f9;
}
.page-content .bar {
  background: #05A8A5;
}
.page-content .bar ul li a {
  opacity: 0.9;
  color: #fff;
}
.page-content .bar ul li.active-item {
  background: #fff;
}
.page-content .bar ul li.active-item a {
  color: #63696d;
}
.page-content .grid.simple .grid-body {
  border: 1px solid #f4f4f4;
}
.page-content .btn.btn-danger,
.page-content .label-danger {
  background: rgba(253, 127, 104, 0.99);
}
.page-content .btn.btn-red {
  background: #FF7979;
  color: #fff;
}
.page-content .label-warning {
  background-color: #DEB65D;
}
.page-content .text-danger {
  color: rgba(253, 127, 104, 0.99);
}
.page-content .text-warning {
  color: #DEB65D;
}
.page-content .bg-danger {
  background-color: #F3AFAF;
}
.page-content .bg-warning {
  background-color: #F7D3AB;
}
.page-content .bg-success {
  background-color: #88CAC4;
}
label {
  font-size: 15px;
}
.breadcrumb li {
  padding-left: 0;
}
.m-b-0 {
  margin-bottom: 0;
}
.m-l-42 {
  margin-left: 42px;
}
.table-data div.DTTT .btn:first-child {
  display: none;
}
.table-data table th {
  font-size: 12px;
}
.black {
  color: #282323;
}
.dl-horizontal dt {
  width: 175px;
  text-align: left;
  margin-bottom: 10px;
}
.dl-horizontal dd {
  margin-left: 175px;
  margin-bottom: 10px;
}
.no {
  width: 25px;
  height: 25px;
  background: #0090D9;
  display: inline-block;
  text-align: center;
  line-height: 25px;
  border-radius: 50%;
  color: #fff;
}
.bar-inner ul li.open {
  background: #fff;
}
.sortable.ui-sortable {
  cursor: all-scroll;
}
.sortable.ui-sortable .grid-body {
  padding: 15px;
}
.logo {
  margin: 10px 14px;
}
.m-0 {
  margin: 0!important;
}
.feature-list .col-md-3 {
  padding: 0 25px 0 25px;
  height: 145px;
}
.feature-list .col-md-3.b-r {
  border-color: #C1C1C1;
}
.feature-list .col-md-3.b-r h3 {
  margin: 0;
}
.sub-title {
  font-size: 19px;
}
.table tbody tr {
  cursor: pointer;
}
.select2-container.select2,
input {
  margin-bottom: 15px;
}
.grid.solid.green {
  border-radius: 10px;
}
.page-content .breadcrumb a {
  margin-left: 0;
}
.page-title h3 {
  width: auto;
}
.page-title a i {
  font-size: 20px;
  margin-left: 12px;
  top: -5px;
  float: none;
}
.bg-gray {
  background: #eee;
}
.user-description-box {
  margin: 0;
}
.user-description-box .icon-row .fa {
  font-size: 20px;
  margin-right: 15px;
}
.footer {
  background-color: #D2D2D2;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
}
.footer .footer-content {
  padding-left: 26px;
  padding-right: 26px;
}
.footer span {
  color: #757575;
}
.ios-switch {
  height: 30px!important;
  width: 55px!important;
}
.ios-switch .handle {
  width: 26px!important;
  height: 26px!important;
}
.ios-switch.on .handle {
  -o-transform: translate3d(25px, 0, 0) !important;
  -ms-transform: translate3d(25px, 0, 0) !important;
  -moz-transform: translate3d(25px, 0, 0) !important;
  -webkit-transform: translate3d(25px, 0, 0) !important;
  transform: translate3d(25px, 0, 0) !important;
}
.inner-tabs {
  background: transparent;
  border-bottom: none;
  border-right: none!important;
}
.inner-tabs li a {
  color: #505558;
}
.inner-tabs li.active a,
.inner-tabs li:hover a,
.inner-tabs li:focus a,
.inner-tabs li:visited a {
  color: #0aa699;
}
.inner-tabs li.active a i,
.inner-tabs li:hover a i,
.inner-tabs li:focus a i,
.inner-tabs li:visited a i {
  color: #999;
}
ul.parsley-errors-list li {
  color: #f35958!important;
}
