.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cantarell', sans-serif;
  text-transform: uppercase;
}
.vc_separator h4 {
  font-weight: 400;
}
.with_frm_style .limit-width .form-field .placeholder {
  font-style: normal;
}
.spacer-25 {
  height: 25px;
  clear: both;
}
@media screen and (max-width: 767px) {
  #single_page_teaser {
    padding: 0 20px;
  }
}
.lisofwork {
  padding-bottom: 15px;
}
.lisofwork .row {
  margin: 0;
}
.lisofwork .vc_col-sm-4.wpb_column.vc_column_container {
  padding: 0;
  margin-bottom: 0;
}
.lisofwork .wpb_wrapper {
  margin: 1px;
  padding: 15px;
  background: #F3F3F3;
  text-align: center;
  box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0.5), inset 0 0 0 0 #ffffff;
  transition: all 0.5s linear;
  transition-delay: 0;
}
.lisofwork .wpb_wrapper h3.header_font {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 15px;
  margin-top: 20px;
  color: #333;
}
.lisofwork .wpb_wrapper p {
  margin-bottom: 10px;
  color: #666;
}
.lisofwork .wpb_wrapper a.openings_link {
  font-weight: bold;
  display: block;
  margin-top: 25px;
  margin-bottom: 15px;
  color: #145994;
}
.lisofwork .wpb_wrapper:hover {
  box-shadow: inset 0 0 100px 800px rgba(255, 255, 255, 0.5), inset 0 0 16px 0px #ffffff;
  transition: all 0.5s linear;
  transition-delay: 0;
}
.tablejob {
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 20px;
}
.tablejob .job_title {
  font-family: 'Cantarell', sans-serif;
  font-size: 16px;
}
.tablejob a.wpb_button_a span.wpb_button {
  margin-top: 0;
  text-transform: uppercase;
  font-weight: normal;
}
.service .wpb_column.vc_column_container {
  margin-bottom: 0;
}
.service .top-dd-c {
  margin-bottom: 35px;
}
.service .forent .wpb_wrapper {
  min-height: 226px;
}
.service .forent .list_forent .wpb_wrapper {
  min-height: 0;
}
.service .forent .bgrey {
  background: #F3F3F3;
  padding: 0;
  position: relative;
}
.service .forent .partintro {
  margin-top: 25px;
  margin-bottom: 35px;
}
.service .forent .partintro .img_hold {
  width: 50%;
  height: 100%;
  float: left;
  line-height: 0;
  padding-right: 0;
  position: absolute;
  overflow: hidden;
}
.service .forent .partintro .img_hold .forent_cap {
  position: absolute;
  bottom: 15px;
  right: 0;
  background: rgba(51, 51, 51, 0.6);
  padding: 3px 11px;
  font-size: 12px;
  color: #fff;
  line-height: normal;
}
.service .forent .partintro .img_hold img {
  position: absolute;
  top: 0;
  left: 0;
  height: 110%;
  width: auto;
  max-width: none;
}
.service .forent .partintro .introtext {
  float: right;
  width: 50%;
  padding-left: 0;
}
.service .forent .partintro .introtext.wpb_wrapper {
  padding: 25px 35px;
}
.service .forent .partintro .introtext.wpb_wrapper a.proj_title {
  font-family: 'Cantarell', sans-serif;
  color: #666;
  margin-bottom: 15px;
  display: block;
}
.service .forent .partintro .introtext.wpb_wrapper a.proj_title span.title {
  font-weight: bold;
}
@media screen and (max-width: 992px) {
  .service .forent .partintro .img_hold {
    position: relative;
    width: 100%;
    margin-bottom: 25px;
  }
  .service .forent .partintro .img_hold img {
    position: relative;
    width: 100%;
    height: auto;
  }
  .service .forent .partintro .introtext {
    float: none;
    width: 100%;
  }
}
.service .list_forent {
  margin-bottom: 35px;
}
.service .list_forent .wpb_wrapper {
  padding: 0;
}
.service .list_forent .top-tab {
  background: #fff;
}
.service .list_forent .top-tab .top_inner {
  display: table;
  width: 100%;
  table-layout: fixed;
  /*border-right: 1px solid #d5d5d5*/
}
.service .list_forent .top-tab .t_i_head .set {
  padding-bottom: 0;
}
.service .list_forent .top-tab .set {
  display: table-cell;
  border-right: 0;
  padding: 0px 15px 10px;
  vertical-align: middle;
  padding-bottom: 8px;
  padding-top: 9px;
}
.service .list_forent .top-tab .set.rent {
  width: 40%;
}
@media screen and (max-width: 992px) {
  .service .list_forent .top-tab .set.rent {
    width: auto;
  }
}
.service .list_forent .top-tab .set a {
  display: inline-block;
  background: #666;
  border-color: #555;
}
.service .list_forent .top-tab .set a:hover {
  background: #505050 !important;
  border-color: #3f3f3f !important;
}
.service .list_forent .top-tab .set a:focus,
.service .list_forent .top-tab .set a:active {
  background: #505050 !important;
  border-color: #3b3b3b !important;
}
.service .list_forent .top-tab .set.alrt {
  text-align: right;
}
.service .list_forent .top-tab .t_i_body {
  border-bottom: 1px solid #e3e3e3;
}
.service .list_forent .top-tab small,
.service .list_forent .top-tab big {
  color: #333;
}
.service .list_forent .top-tab .rent big {
  font-size: 22px;
}
.service .list_forent .top-tab small.clr_lt {
  display: block;
  font-family: 'Cantarell', sans-serif;
  color: #666;
}
.service .list_forent .top-tab small {
  font-size: 12px;
}
.service .list_forent .top-tab big {
  font-size: 18px;
}
.service .list_forent .top-tab .top_rent {
  padding: 15px;
}
.service .list_forent .top-tab .top_rent big {
  font-size: 22px;
  display: inline-block;
  margin-top: 5px;
}
@media screen and (max-width: 627px), (min-width: 769px) and (max-width: 991px) {
  .service .list_forent .top-tab {
    width: 100%;
    display: table;
    table-layout: fixed;
  }
  .service .list_forent .top-tab .top_inner {
    display: table-cell;
    width: 140px;
    vertical-align: top;
  }
  .service .list_forent .top-tab .top_inner:nth-child(odd) {
    background: #eee;
  }
  .service .list_forent .top-tab .top_inner .set {
    display: block;
    min-height: 45px;
    text-align: center;
    position: relative;
    border-bottom: 1px solid #ddd;
  }
  .service .list_forent .top-tab .top_inner .set:last-child {
    border-bottom: 0;
  }
  .service .list_forent .top-tab .top_inner .set.rent {
    height: 69px;
  }
  .service .list_forent .top-tab .top_inner .alrt a {
    display: block;
  }
  .service .list_forent .top-tab .top_inner.t_i_head .set {
    text-align: left;
  }
  .service .list_forent .top-tab .top_inner .set:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-right: 4px solid transparent;
    border-left: 4px solid #fff;
    border-top: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid rgba(0, 0, 0, 0);
    position: absolute;
    right: -8px;
    top: 16px;
  }
  .service .list_forent .top-tab .top_inner .set:last-child::after {
    display: none;
  }
  .service .list_forent .top-tab .top_inner:nth-child(odd) .set:after {
    border-left-color: #eee;
  }
  .service .list_forent .top-tab .top_inner:last-child .set:after {
    display: none;
  }
}
.service .list_forent .btm_footer a,
.service .list_forent .top_inner a {
  display: block;
  padding: 0;
}
.service .list_forent .btm_footer a.enq_ico span,
.service .list_forent .top_inner a.enq_ico span {
  background-image: url(img/enquiry.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.service .list_forent .btm_footer a span,
.service .list_forent .top_inner a span {
  padding: 5px 23px;
  display: block;
  margin: 0;
  text-transform: uppercase;
  font-weight: normal;
  height: 35px;
}
.tab_con {
  overflow: auto;
  height: auto;
}
@media screen and (max-width: 627px), (min-width: 769px) and (max-width: 991px) {
  .tab_con {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 281px;
  }
}
.flexslider li img {
  width: auto !important;
}
.flexslider li img {
  max-width: 200% !important;
  min-width: 100%;
  min-height: 100%;
  height: auto !important;
  margin-left: 0 !important;
}
#full-screen-background-image {
  max-width: 200% !important;
  min-width: 100%;
  min-height: 100%;
  height: auto !important;
  margin-left: 0 !important;
  position: absolute;
}
#full_fi_c {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
}
@media (max-width: 767px) {
  #full-screen-background-image {
    width: auto !important;
  }
}
@media screen and (max-width: 767px) {
  #main .tablejob .prk_inner_block .row {
    text-align: center;
  }
  #main > .twelve {
    padding: 25px;
  }
}
@media (max-width: 767px) {
  .samba_responsive.page-template-page-sections-php #centered_block {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 480px) {
  body.samba_responsive {
    font-size: 14px;
  }
}
@media screen and (min-width: 770px) and (max-width: 991px) {
  #menu_section {
    width: 175px;
  }
  #menu_section .nav-wrap .sf-menu > li {
    width: 175px;
  }
  #prk_ajax_container {
    margin-left: 175px;
  }
}
@media only screen and (max-width: 769px) {
  #prk_responsive_menu {
    display: block;
    height: 50px;
    width: 100%;
    left: 0px !important;
    z-index: 99999;
    border-left: 0px;
    margin-left: 0px !important;
  }
  .samba_responsive #nav-collapsed-icon {
    padding-left: 19px;
    padding-top: 16px;
  }
  .samba_responsive #nav-collapsed-icon .prk_menu_block {
    width: 28px;
    height: 4px;
    margin-bottom: 4px;
  }
  .samba_responsive #responsive_logo_holder {
    display: block;
  }
  .samba_responsive .prk_small_logo_image {
    display: inline-block;
  }
  #alt_logo_holder {
    display: none !important;
  }
  .samba_responsive #back_to_top-collapsed {
    width: 70px;
    margin-top: 0px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    top: 0px;
    right: -5px;
  }
  .samba_responsive #main_block {
    margin-top: 0;
  }
  .samba_responsive #main_block .sld_top {
    top: 85px;
  }
}
.head_enq_ico {
  width: 26px;
  height: 26px;
  background: url(img/enq_ico_23.png) no-repeat center center;
  display: block;
  position: absolute;
  right: 15px;
  top: 10px;
  text-indent: 9999999px;
  overflow: hidden;
}
.hidein769 {
  display: none;
  background: #474747;
  padding: 15px 25px;
}
.hidein769 h5:before {
  display: none;
}
.hidein769 p {
  font-size: 12px;
}
.showab769 {
  display: block;
}
@media screen and (max-width: 769px) {
  #after_widgets.hidein769 {
    display: block;
    padding: 10px 25px;
    padding-bottom: 3px;
  }
  #after_widgets.hidein769 h5 {
    color: #c7c7c7;
    font-size: 18px;
  }
  #after_widgets.hidein769 h5:before {
    display: none;
  }
  #after_widgets.hidein769 p {
    color: #b2b2b2;
    font-size: 13px;
  }
  .showab769 {
    display: none;
  }
  #headings_wrap .single_page_title {
    padding-top: 70px;
  }
  .samba_responsive #back_to_top-collapsed {
    right: 30px;
  }
}
@media (max-width: 769px) and (min-width: 768px) {
  #prk_ajax_container {
    margin-left: 0 !important;
  }
}
.service .vc_col-sm-12 .top-dd-c {
  padding: 22px 50px;
}
@media screen and (max-width: 1167px) {
  .service .vc_col-sm-12 .top-dd-c {
    text-align: center;
    padding: 22px 20px;
  }
}
.service .vc_col-sm-12 .top-dd {
  vertical-align: top;
}
.service .vc_col-sm-12 .top-sea {
  vertical-align: top;
}
.service .vc_col-sm-12 .top-note {
  display: inline-block;
  width: 30%;
  margin-left: 20px;
  vertical-align: top;
}
.service .vc_col-sm-12 .top-note p {
  font-size: 13px;
  color: #a5a5a5;
  line-height: 14px;
  margin-bottom: 0;
}
@media screen and (max-width: 1167px) {
  .service .vc_col-sm-12 .top-note {
    width: 100%;
    margin-left: 0;
    text-align: center;
    margin-top: 10px;
  }
}
#np {
  position: absolute;
  top: 35%;
  left: 50%;
  margin-left: -10px;
}
#np .spinner {
  display: block;
  z-index: 100;
  top: 15px;
  right: 15px;
}
#np .spinner .spinner-icon {
  width: 20px;
  height: 20px;
  border: solid 2px transparent;
  border-radius: 10px;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
  -moz-animation: nprogress-spinner 400ms linear infinite;
  -ms-animation: nprogress-spinner 400ms linear infinite;
  -o-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}
.no_props {
  text-align: center;
  text-transform: uppercase;
  margin: 90px;
  color: #DDD;
}
.mfp-bottom-bar {
  display: none;
}
.poppup {
  display: block;
  height: 170px;
  overflow: hidden;
  padding: 0;
  margin: 10px;
  position: relative;
  top: 0;
  transition: all 0.5s;
}
#projects_listings {
  min-height: 500px;
}
/*.single-residential-property p {
    text-align: justify;;
}*/
.btn_norm {
  border: 0;
  background-color: #666666;
  color: #d1d1d1;
  padding: 8px 10px;
  border-color: #555;
}
.btn_norm:hover {
  background-color: #505050;
  border-color: #3f3f3f;
}
.btn_norm:active,
.btn_norm:focus {
  background-color: #505050;
  border-color: #3b3b3b;
}
.mapView .bd_headings_text_shadow {
  display: none;
}
.mapView .main_with_sections {
  margin-top: 0;
}
@media screen and (max-width: 769px) {
  .proj_list {
    padding-top: 50px;
  }
  .proj_list .project-list.row .single_p_w {
    width: 50% !important;
    float: left;
    padding: 0 20px;
  }
  .proj_list .project-list.row .single_p_w:nth-child(n) {
    padding-right: 0;
  }
  .proj_list .project-list.row .single_p_w:nth-child(2n) {
    padding-left: 0;
  }
}
@media screen and (max-width: 680px) {
  .proj_list .project-list.row .single_p_w {
    width: auto !important;
    float: none;
    padding: 0;
  }
}
.proj_list [class*="column"] + [class*="column"]:last-child {
  float: left;
}
.proj_list .top-dd-c {
  background: #ebebeb;
  padding: 25px 50px 15px;
}
@media screen and (max-width: 769px) {
  .proj_list .top-dd-c {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.proj_list .top-dd {
  display: inline-block;
  width: 150px;
  margin-right: 3px;
}
@media screen and (max-width: 1199px) {
  .proj_list .top-dd {
    width: 125px;
  }
}
.proj_list .top-dd select {
  padding: 5px 8px;
  border: 1px solid #cccccc;
  font-family: 'Open Sans', sans-serif;
}
.proj_list .top-dd select:disabled {
  color: #ababab;
}
.proj_list .top-sea {
  display: inline-block;
  display: none;
}
.proj_list .top-sea .btn_norm {
  border: 0;
  background-color: #666666;
  color: #d1d1d1;
  padding: 4px 20px;
  border-color: #555;
  font-size: 20px;
}
.proj_list .top-sea .btn_norm:hover {
  background-color: #505050;
  border-color: #3f3f3f;
}
.proj_list .top-sea .btn_norm:active,
.proj_list .top-sea .btn_norm:focus {
  background-color: #505050;
  border-color: #3b3b3b;
}
.proj_list .top-view {
  text-align: right;
}
.proj_list .top-view a {
  display: inline-block;
  color: #fff;
  padding: 4px 10px;
  width: 35px;
  text-align: center;
  background: #d7d7d7;
  border: 1px solid #cccccc;
}
.proj_list .top-view a.current {
  background: #fff;
  color: #666666;
}
.proj_list .top-compar {
  padding: 25px 50px;
}
.proj_list .top-compar .drag_area {
  font-family: 'Cantarell', sans-serif;
  width: 210px;
  display: inline-block;
  text-align: center;
  font-size: 13px;
  border: 1px dashed #c2c2c2;
  padding: 12px;
  margin-right: 8px;
  color: #A9A9A9;
}
.proj_list .top-compar .drag_area .before_drag {
  display: block;
}
.proj_list .top-compar .drag_area .after_drag_content {
  display: none;
  text-align: center;
}
.proj_list .top-compar .drag_area .after_drag_content .dragged_title {
  margin-bottom: 0;
  color: #999;
}
.proj_list .top-compar .drag_area .after_drag_content .single_p_title {
  font-weight: bold;
  color: #000;
}
.proj_list .top-compar .drag_area.after_drag {
  background: #f8f8f8;
  border: 1px solid #c2c2c2;
  padding: 6px 0;
  line-height: 18px;
  vertical-align: top;
}
.proj_list .top-compar .drag_area.after_drag .before_drag {
  display: none;
}
.proj_list .top-compar .drag_area.after_drag .after_drag_content {
  display: block;
}
.proj_list .top-compar .top_btn_co {
  border: 0;
  background-color: #666666;
  color: #d1d1d1;
  padding: 7px 20px;
  border-color: #555;
  text-transform: uppercase;
  margin-left: 8px;
  font-family: 'Cantarell', sans-serif;
}
.proj_list .top-compar .top_btn_co:hover {
  background-color: #505050;
  border-color: #3f3f3f;
}
.proj_list .top-compar .top_btn_co:active,
.proj_list .top-compar .top_btn_co:focus {
  background-color: #505050;
  border-color: #3b3b3b;
}
.proj_list .top-compar .top_btn_co.disabled {
  opacity: 0.2;
}
@media screen and (max-width: 769px) {
  .proj_list .top-compar {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.proj_list .project-list {
  padding: 5px 50px 25px;
  font-family: 'Cantarell', sans-serif;
}
@media screen and (max-width: 769px) {
  .proj_list .project-list {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.proj_list .project-list h5 {
  font-family: 'Cantarell', sans-serif;
  color: #333;
  font-size: 16px;
  margin-bottom: 30px;
}
.proj_list .project-list .single_p_w {
  margin: 0;
  margin-bottom: 20px;
}
.proj_list .project-list .single_p_w:hover .single_p_img .single_p_hov_c {
  opacity: 1;
  visibility: visible;
}
.proj_list .project-list .single_p_w .single_p_img {
  height: 192px;
  overflow: hidden;
  position: relative;
}
.proj_list .project-list .single_p_w .single_p_img img {
  width: 100%;
  height: auto;
  max-width: none;
}
.proj_list .project-list .single_p_w .single_p_img .compare {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  z-index: 1;
}
.proj_list .project-list .single_p_w .single_p_img .compare .comp_ico {
  float: right;
  width: 25px;
  height: 21px;
  background: url(img/compare_list_ico.png) no-repeat center center;
}
.proj_list .project-list .single_p_w .single_p_img .compare .comp_ico:hover {
  background: url(img/compare_list_ico_hov.png) no-repeat center center;
}
.proj_list .project-list .single_p_w .single_p_img .single_p_hov_c {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #ebebeb;
  padding: 10px;
  transition: all 0.5s;
}
.proj_list .project-list .single_p_w .single_p_img .single_p_likes {
  visibility: hidden;
  float: left;
  background: #fff;
  border: 1px solid #C0C0C0;
  padding: 4px 9px;
  color: #666666;
}
.proj_list .project-list .single_p_w .single_p_img .single_p_info {
  padding: 25px 0;
  text-align: center;
}
.proj_list .project-list .single_p_w .single_p_img .single_p_info h6 {
  text-transform: none;
  color: #000;
  margin-bottom: 4px;
}
.proj_list .project-list .single_p_w .single_p_img .single_btm {
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  padding: 10px;
}
.proj_list .project-list .single_p_w .single_p_img .single_btm a.btn_norm {
  border: 0;
  background-color: #666666;
  color: #d1d1d1;
  padding: 5px 12px;
  border-color: #555;
  display: inline-block;
}
.proj_list .project-list .single_p_w .single_p_img .single_btm a.btn_norm:hover {
  background-color: #505050;
  border-color: #3f3f3f;
}
.proj_list .project-list .single_p_w .single_p_img .single_btm a.btn_norm:active,
.proj_list .project-list .single_p_w .single_p_img .single_btm a.btn_norm:focus {
  background-color: #505050;
  border-color: #3b3b3b;
}
.proj_list .project-list .single_p_w .single_p_img .single_btm a.single_enq {
  width: 38px;
  height: 33px;
  background-image: url(img/enquiry.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.proj_list .project-list .single_p_w .single_p_img .single_btm a.single_enq i {
  visibility: hidden;
}
.proj_list .project-list .single_p_w .single_p_img .single_btm a.single_know {
  font-family: 'Cantarell', sans-serif;
  text-transform: uppercase;
}
.proj_list .project-list .single_p_w .single_p_cap {
  text-align: center;
  margin-top: 20px;
}
.proj_list .project-list .single_p_w .single_p_cap a {
  color: #666666;
  text-decoration: none;
}
.proj_list .project-list .single_p_w .single_p_cap span {
  transition: all 0.5s;
}
.proj_list .project-list .single_p_w .single_p_cap .single_p_title {
  font-weight: bold;
  margin-right: 5px;
}
.proj_list .project-list .single_p_w .single_p_cap .single_p_light {
  color: #c5c5c5;
}
.proj_list .project-list .single_p_w .single_p_cap .single_p_location {
  margin-left: 5px;
}
.proj_list .project-list .single_p_w:hover a .single_p_title {
  color: #000;
}
.proj_list .project-list .single_p_w:hover a .single_p_location {
  color: #000;
}
.proj_list .projects_map iframe {
  width: 100%;
  height: 500px;
}
#projects_listings .gm-style-iw {
  width: 352px !important;
  height: 145px !important;
  top: 15px !important;
  left: 0 !important;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
}
#projects_listings .map_info_c {
  position: relative;
  width: 352px;
  height: 145px;
  background: #fff;
  padding: 6px;
}
#projects_listings .map_info_c .btn_norm {
  border: 0;
  background-color: #666666;
  color: #d1d1d1;
  padding: 5px 12px;
  border-color: #555;
  float: left;
  font-size: 14px;
  border: 1px solid #555;
  border-right-width: 0;
}
#projects_listings .map_info_c .btn_norm:hover {
  background-color: #505050;
  border-color: #3f3f3f;
}
#projects_listings .map_info_c .btn_norm:active,
#projects_listings .map_info_c .btn_norm:focus {
  background-color: #505050;
  border-color: #3b3b3b;
}
#projects_listings .map_info_c .img_cont {
  width: 100%;
  max-width: 132px;
  height: 132px;
  margin-right: 6px;
  overflow: hidden;
  position: absolute;
}
#projects_listings .map_info_c .img_cont img {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
}
#projects_listings .map_info_c .map_info {
  margin-left: 140px;
  font-size: 14px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}
#projects_listings .map_info_c .map_info a.map_p_title {
  color: #666666;
  text-decoration: none;
  font-family: 'Cantarell', sans-serif;
}
#projects_listings .map_info_c .map_info span {
  transition: all 0.5s;
}
#projects_listings .map_info_c .map_info .single_p_title {
  font-weight: bold;
  margin-right: 5px;
}
#projects_listings .map_info_c .map_info .single_p_light {
  color: #c5c5c5;
}
#projects_listings .map_info_c .map_info .single_p_location {
  margin-left: 5px;
}
#projects_listings .map_info_c .map_info .map_excerpt {
  margin-bottom: -1px;
  line-height: 17px;
  margin-top: 2px;
}
#projects_listings .map_info_c .map_info p {
  color: #333;
}
#projects_listings .map_info_c .map_btm {
  position: absolute;
  left: 145px;
  bottom: 6px;
  width: 201px;
}
#projects_listings .map_info_c a.single_enq {
  width: 38px;
  height: 33px;
  background-image: url(img/enquiry.png);
  background-repeat: no-repeat;
  background-position: center center;
}
#projects_listings .map_info_c a.single_enq i {
  visibility: hidden;
}
#projects_listings .map_info_c a.single_compare {
  width: 38px;
  height: 33px;
  background-image: url(img/compare_ico.png);
  background-repeat: no-repeat;
  background-position: center center;
  border-right-width: 1px;
  border-left-color: #afafaf;
}
#projects_listings .map_info_c a.single_share {
  border-left-color: #afafaf;
  height: 33px;
}
#projects_listings .map_info_c a.single_know {
  width: 38px;
  text-align: center;
  font-size: 16px;
}
.cont_sp.vc_row-fluid [class*="vc_col-sm-"].left {
  padding-right: 5px;
}
.cont_sp.vc_row-fluid [class*="vc_col-sm-"].left .wpb_raw_html iframe {
  width: 100%;
}
.cont_sp.vc_row-fluid [class*="vc_col-sm-"].right {
  padding-left: 5px;
}
.cont_sp.vc_row-fluid [class*="vc_col-sm-"].right h6 {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 20px;
  border-top: 1px solid #ddd;
}
@media screen and (max-width: 767px) {
  .cont_sp.vc_row-fluid [class*="vc_col-sm-"].left {
    padding-right: 0;
  }
  .cont_sp.vc_row-fluid [class*="vc_col-sm-"].right {
    padding-left: 0;
  }
}
@media screen and (max-width: 1024px) {
  .prk_service.prk_service_left .prk_service_ctt {
    margin-left: 30px;
  }
  .vc_col-sm-6 .prk_service {
    padding-right: 30px;
  }
}
.placeholder::-webkit-input-placeholder {
  color: #999999;
}
.placeholder:-moz-placeholder {
  /* Firefox 18- */
  color: #999999;
}
.placeholder::-moz-placeholder {
  /* Firefox 19+ */
  color: #999999;
}
.placeholder:-ms-input-placeholder {
  color: #999999;
}
#prk_ajax_container .full_fi_title {
  position: absolute;
  top: 25px;
  right: 0;
}
#prk_ajax_container .full_fi_title p {
  background: rgba(72, 72, 72, 0.4);
  padding: 4px 10px;
  color: #fff;
  font-family: 'Cantarell', sans-serif;
}
@media screen and (max-width: 767px) {
  #prk_ajax_container .full_fi_title {
    top: 75px;
  }
}
#prk_ajax_container .go_d_see {
  position: absolute;
  bottom: 20px;
  left: 59%;
  background-image: url(img/go_down.png);
  background-color: rgba(67, 64, 60, 0.6);
  background-repeat: no-repeat;
  background-position: center center;
  width: 35px;
  height: 24px;
}
@media screen and (max-width: 767px) {
  #prk_ajax_container .go_d_see {
    left: 50%;
  }
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block {
  background: #fff;
  margin-top: 677px;
  padding-top: 25px;
}
@media screen and (max-width: 767px) {
  #prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -20px;
    margin-right: -20px;
  }
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block h4,
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block h5 {
  margin-top: 25px;
  margin-bottom: 20px;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block h5 {
  font-size: 18x;
  text-transform: uppercase;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .wpb_text_column p {
  margin-bottom: 25px !important;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .wpb_single_image .wpb_wrapper {
  position: relative;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .wpb_single_image .wpb_wrapper .boxed_shadow {
  -webkit-box-shadow: 0 0 0 #fff;
  box-shadow: 0 0 0 #fff;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .wpb_single_image .wpb_wrapper .prk_shortcode-title {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .wpb_single_image .wpb_wrapper .prk_shortcode-title div {
  color: #fff;
  font-size: 13px;
  padding: 13px 20px;
  margin: 0;
  font-weight: normal;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .indi_map_area .wpb_wrapper iframe {
  width: 100% !important;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .indi_map_area .wpb_wrapper .wpb_text_column p:last-child {
  margin-bottom: 0 !important;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .wpb_call_to_action .wpb_button_a span {
  background: #666;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .wpb_call_to_action .wpb_button_a .wpb_arrow i {
  background: none;
  font-style: normal;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .wpb_call_to_action .wpb_button_a .wpb_arrow i:after {
  content: '\f105';
  font-family: 'FontAwesome';
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .indi_map_cta {
  margin-top: 30px;
  background: #666;
  border-color: #555;
  font-weight: normal;
  text-transform: uppercase;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .indi_map_cta i {
  background: none;
  font-style: normal;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .indi_map_cta i:after {
  content: '\f105';
  font-family: 'FontAwesome';
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .indi_map_cta:hover {
  background: #505050;
  border-color: #3f3f3f;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .indi_map_cta:active,
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .indi_map_cta:focus {
  background: #505050;
  border-color: #3b3b3b;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .archi_si {
  margin-top: 45px;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .la_g .wpb_wrapper {
  width: 85%;
  margin: 0 auto;
  text-align: justify;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .la_g .vc_column_container {
  margin-bottom: 0;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .am_h {
  margin-top: 55px;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .am_d {
  padding-bottom: 10px;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .m_t_b_m {
  padding-top: 10px;
  padding-bottom: 25px;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .wpb_tabs {
  margin-bottom: 50px;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .wpb_video_widget {
  margin-top: 25px;
  padding-bottom: 5px;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .m_t_m {
  padding-top: 10px;
  padding-bottom: 10px;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .vc_separator.section_ender {
  width: 60%;
  margin: 15px auto;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .vc_separator.section_ender .vc_sep_holder {
  height: 1px;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .vc_separator.section_ender .vc_sep_holder .vc_sep_line {
  border-color: #D1D1D1;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .le_p_m .row,
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .se_o_6 .row,
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .do_3 .row {
  margin: 0;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .le_p_m .wpb_column,
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .se_o_6 .wpb_column,
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .do_3 .wpb_column {
  padding: 0;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .le_p_m .wpb_column .wpb_wrapper .prk_service,
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .se_o_6 .wpb_column .wpb_wrapper .prk_service,
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .do_3 .wpb_column .wpb_wrapper .prk_service {
  background: #f3f3f3;
  margin-left: 1px;
  margin-right: 1px;
  padding: 25px;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .le_p_m .wpb_column .wpb_wrapper .prk_service h3,
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .se_o_6 .wpb_column .wpb_wrapper .prk_service h3,
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .do_3 .wpb_column .wpb_wrapper .prk_service h3 {
  display: none;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .le_p_m .wpb_column .wpb_wrapper .prk_service img,
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .se_o_6 .wpb_column .wpb_wrapper .prk_service img,
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .do_3 .wpb_column .wpb_wrapper .prk_service img {
  padding-bottom: 20px;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .le_p_m .wpb_wrapper .show_h h3 {
  display: block !important;
  font-family: 'Cantarell', sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 18px;
  text-shadow: 0 0 0 #fff;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .se_o_6 .wpb_column .wpb_wrapper .prk_service {
  position: relative;
  margin-bottom: 2px;
  overflow: hidden;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .se_o_6 .wpb_column .wpb_wrapper .prk_service img {
  transform: scale(1, 1);
  opacity: 1;
  visibility: visible;
  padding-bottom: 12px;
  transition: all 0.5s;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .se_o_6 .wpb_column .wpb_wrapper .prk_service h3 {
  display: block;
  font-size: 16px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 2px;
  text-shadow: 0 0 0 #fff;
  transition: all 0.5s;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .se_o_6 .wpb_column .wpb_wrapper .prk_service .simple_line {
  display: none;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .se_o_6 .wpb_column .wpb_wrapper .prk_service .fade_anchor {
  display: block;
  padding: 5px 25px;
  background: #999;
  color: #fff !important;
  position: absolute;
  width: 100%;
  bottom: -100%;
  right: 0;
  opacity: 0;
  transition: all 0.5s;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .se_o_6 .wpb_column .wpb_wrapper .prk_service.andmore {
  color: #999999;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .se_o_6 .wpb_column .wpb_wrapper .prk_service.andmore h3 {
  color: #666;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .se_o_6 .wpb_column .wpb_wrapper .prk_service.andmore a {
  color: #333;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .do_3 {
  margin-top: 25px;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .do_3 .wpb_wrapper {
  padding: 25px 70px;
  margin: 1px;
  background: #F3F3F3;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .do_3 .wpb_wrapper h5 {
  margin-top: 0;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .do_3 .wpb_wrapper a {
  display: block;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .do_3 .wpb_wrapper a span {
  width: 100%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: normal;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .do_3 .wpb_wrapper a span:hover {
  background: #f5f5f5;
  border-color: #666;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .do_3 .wpb_wrapper a span:focus,
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .do_3 .wpb_wrapper a span:active {
  border-color: #606060;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .do_3 .wpb_wrapper a span.half {
  width: 49%;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .do_3 .wpb_wrapper a span.half.left {
  float: left;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .do_3 .wpb_wrapper a span.half.right {
  float: right;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .do_3 .wpb_wrapper a span.wpb_btn-inverse {
  background: #909090;
  border-color: #848484;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .do_3 .wpb_wrapper a span.wpb_btn-inverse:hover {
  background: #7c7c7c;
  border-color: #6f6f6f;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .do_3 .wpb_wrapper a span.wpb_btn-inverse:active,
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .do_3 .wpb_wrapper a span.wpb_btn-inverse:focus {
  border-color: #686868;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .do_3 .wpb_wrapper a span.wpb_regularsize {
  border-color: #848484;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .wpb_tab {
  text-align: center;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .wpb_tab > .wpb_text_column,
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .wpb_tab > .wpb_button_a {
  display: inline-block;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .wpb_tab > .wpb_button_a {
  padding: 0;
  display: inline-block;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .wpb_tab > .wpb_button_a span {
  padding: 5px;
  padding: 2px 7px;
  width: 28px;
  height: 28px;
  font-size: 14px;
  overflow: hidden;
  display: inline-block;
  text-indent: 99999px;
  position: relative;
  background: #fff;
  color: #333;
  border-color: #666;
  text-shadow: 0 0 0 #fff;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .wpb_tab > .wpb_button_a:hover span {
  background: #f5f5f5;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .wpb_tab > .wpb_button_a:focus span {
  border-color: #606060;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .wpb_tab .icon {
  background: none;
  float: left;
  margin-left: 0;
  margin-right: 10px;
  font-style: normal;
  padding-top: 3px;
  position: absolute;
  top: 2px;
  left: 5px;
  text-indent: 0;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .wpb_tab .icon:after {
  content: '\f1c1';
  font-family: 'FontAwesome';
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .btncol {
  font-size: 0;
  text-align: center;
  clear: both;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .btncol .wpb_button_a {
  display: inline-block;
  font-size: 13px;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .btncol .wpb_button_a .sep {
  margin-left: 20px;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .btncol .wpb_button_a .wpb_btn-inverse {
  background: #909090;
  color: #fff;
  border-color: #848484;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .btncol .wpb_button_a .white {
  background: #fff;
  color: #333;
  border-color: #666;
  text-shadow: 0 0 0 #fff;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .btncol .wpb_button_a:hover .wpb_btn-inverse {
  background: #7c7c7c;
  border-color: #6f6f6f;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .btncol .wpb_button_a:hover .white {
  background: #f5f5f5;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .btncol .wpb_button_a:active .wpb_btn-inverse {
  border-color: #686868;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .btncol .wpb_button_a:active .white {
  border-color: #606060;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .btncol .wpb_button_a span {
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .owl-carousel {
  margin-top: 20px;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .owl-carousel .owl-controls {
  top: 35%;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .owl-carousel a.image-popup-no-margins {
  display: block;
  height: 170px;
  overflow: hidden;
  padding: 0;
  margin: 10px;
  position: relative;
  top: 0;
  transition: all 0.5s;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .owl-carousel a.image-popup-no-margins:after {
  font-family: 'FontAwesome';
  font-size: 24px;
  color: #fff;
  background: #000000;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 27%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .owl-carousel .item:hover .owl-carousel-item-imgoverlay {
  background: transparent;
  color: #444;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .owl-carousel .item:hover .image-popup-no-margins {
  opacity: 0.5;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .owl-carousel .item:hover .image-popup-no-margins:after {
  opacity: 0.6;
  visibility: visible;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .owl-carousel .owl-carousel-item-imgoverlay {
  display: block;
  opacity: 1;
  position: relative;
  text-shadow: 0 0 0 #fff;
  color: #666;
  transition: all 0.5s;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .owl-carousel .owl-carousel-item-imgoverlay .owl-carousel-item-imgtitle {
  font-size: 14px;
  padding-top: 5px;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .formid_row {
  background: #f3f3f3;
  margin: 30px 0;
  margin-bottom: 0;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .formid_row .le_form_t {
  width: 50%;
  margin: 0 auto;
  float: none;
}
@media screen and (max-width: 767px) {
  #prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .formid_row .le_form_t {
    width: 94%;
  }
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .formid_row .le_form_t .frm_form_fields .frm_form_field input,
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .formid_row .le_form_t .frm_form_fields .frm_form_field textarea {
  padding: 8px 12px !important;
  width: 100% !important;
  font-style: normal !important;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .formid_row .le_form_t .frm_submit {
  text-align: center;
  padding-bottom: 15px;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .formid_row .le_form_t .frm_submit input {
  text-transform: uppercase;
  font-family: 'Montserrat';
}
.indi_pr.nri_fullrow {
  margin-top: 0;
  margin-bottom: 0;
}
.indi_pr.nri_fullrow h5 {
  font-size: 18x;
  text-transform: uppercase;
}
.indi_pr.nri_fullrow .wpb_button_a span {
  background: #666;
}
.sec_int {
  font-size: 14px;
  margin: 0 auto;
}
.sec_int .wpb_wrapper p {
  font-size: 14px;
}
.add_padd .wpb_wrapper p {
  text-align: justify;
  font-size: 14px;
}
.add_padd .vc_col-sm-6:nth-child(1) > .wpb_wrapper {
  padding-left: 35px;
  padding-right: 25px;
}
.add_padd .vc_col-sm-6:nth-child(2) > .wpb_wrapper {
  padding-left: 25px;
  padding-right: 35px;
}
.add_padd .wpb_call_to_action {
  padding-left: 0;
}
.add_padd .wpb_single_image img {
  max-width: auto;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .add_padd .wpb_call_to_action {
    padding-right: 0;
  }
}
.less_s_t img {
  width: 100%;
}
.less_s_t p {
  margin-bottom: 1px;
}
.neg_mar {
  margin-top: -15px !important;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .neg_mar.wpb_text_column p {
  margin-bottom: 5px !important;
}
.neg_mar .owl-carousel {
  margin-top: 15px !important;
}
.nri_fullrow.prk_section.prk_full_width.redsp {
  padding-top: 15px;
}
.nri_fullrow.prk_section.prk_full_width.redsp .lesspac.wpb_content_element {
  margin-bottom: -5px;
}
.wpb_call_to_action .wpb_button_a span.wpb_btn-inverse:hover,
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .formid_row .le_form_t .frm_submit input:hover {
  background: #505050 !important;
  border-color: #3f3f3f !important;
}
.wpb_call_to_action .wpb_button_a span.wpb_btn-inverse:focus,
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .formid_row .le_form_t .frm_submit input:focus,
.wpb_call_to_action .wpb_button_a span.wpb_btn-inverse:active,
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .formid_row .le_form_t .frm_submit input:active {
  background: #505050 !important;
  border-color: #3b3b3b !important;
}
@media screen and (max-width: 767px) {
  .samba_responsive .prk_section.prk_full_width.redsp {
    width: 106.5%;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .vc_row-fluid [class*="vc_col-sm-"],
  [class*="vc_col-sm-"] {
    float: none;
    width: 100%;
  }
}
.compare .bd_headings_text_shadow {
  display: none;
}
.samba_theme .compare .with_title {
  margin-top: 0;
}
.compare_c .info_bar {
  background: #EBEBEB;
  padding: 25px 50px 14px;
  font-family: 'Cantarell', sans-serif;
}
.compare_c .info_bar p {
  display: inline-block;
  margin-left: 10px;
  color: #333;
  font-size: 15px;
}
.compare_c .info_bar p a {
  color: #333;
  font-weight: bold;
}
.compare_c .info_bar a.back_btn {
  margin-bottom: 0;
  background: #EBEBEB;
  border-color: #999;
}
.compare_c .info_bar a.back_btn:hover {
  background: #fafafa;
}
.compare_c .info_bar a.back_btn i {
  margin-right: 8px;
}
@media screen and (max-width: 767px) {
  .compare_c .info_bar {
    text-align: center;
  }
  .compare_c .info_bar p {
    display: block;
    margin-top: 10px;
  }
}
.compare_c .compare_i_c {
  padding: 25px 50px;
}
.compare_c .compare_i_c table {
  width: 100%;
}
.compare_c .compare_i_c th {
  border-left: 1px solid #EBEBEB;
  border-top: 1px solid #EBEBEB;
}
.compare_c .compare_i_c th:last-child {
  border-right: 1px solid #EBEBEB;
}
.compare_c .compare_i_c th.with_img {
  width: 38%;
  padding: 7px;
}
.compare_c .compare_i_c th .single_p_inf a {
  font-family: 'Cantarell', sans-serif;
  display: block;
  color: #666;
  padding: 10px 5px 0;
}
.compare_c .compare_i_c th .single_p_inf a .single_p_location {
  font-weight: normal;
}
.compare_c .compare_i_c th:first-child,
.compare_c .compare_i_c td:first-child {
  background: #fbfbfb;
  font-family: 'Cantarell', sans-serif;
  text-align: left;
  color: #666;
}
.compare_c .compare_i_c td {
  border-left: 1px solid #CCC;
  border-top: 1px solid #CCC;
  padding: 10px 15px;
  text-align: center;
}
.compare_c .compare_i_c td:last-child {
  border-right: 1px solid #CCC;
}
.compare_c .compare_i_c tr.head-row td {
  background: #F8F8F8;
  text-transform: uppercase;
}
.compare_c .compare_i_c tr:last-child td {
  border-bottom: 1px solid #CCC;
}
.compare_c .compare_i_c tr.darker-bg td {
  background: #EAEEEE;
}
.compare_c .compare_i_c tr td.da {
  background: #F2F6F6;
}
.compare_c .compare_i_c .yes {
  display: block;
  width: 20px;
  height: 19px;
  margin: 0 auto;
  background: url(img/yes.png) center center no-repeat;
}
.compare_c .compare_f {
  margin-top: 50px;
  padding: 25px 50px;
  background: #EBEBEB;
  text-align: center;
}
.compare_c .compare_f .foot_head {
  font-family: 'Cantarell', sans-serif;
  font-size: 16px;
  color: #757575;
  margin-bottom: 10px;
}
.compare_c .compare_f a {
  background: #666;
  padding: 5px 14px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 15px;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 680px) {
  .compare_c .info_bar {
    padding: 25px 20px 14px;
  }
  .compare_c .compare_i_c {
    padding: 25px 20px;
  }
}
