/*
Error: Invalid CSS after "$rtl: ": expected expression (e.g. 1px, bold), was "~`"${direction}..."
        on line 7 of /Library/WebServer/Documents/mylan/public/project-admin-views/assets/scss/modules/direction.scss

2: * direction.less v0.1.0
3: *\/
4: 
5: // Local vars
6: 
7: $rtl: ~`"${direction}" === 'rtl' ? 'true' : 'false'`;
8: $left: ~`${rtl} ? 'right' : 'left'`;
9: $right: ~`${rtl} ? 'left' : 'right'`;
10: 
11: 
12: // "border-color:" rule

Backtrace:
/Library/WebServer/Documents/mylan/public/project-admin-views/assets/scss/modules/direction.scss:7
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1165:in `expected'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/script/lexer.rb:220:in `expected!'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/script/parser.rb:573:in `assert_expr'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/script/parser.rb:62:in `parse'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1027:in `sass_script'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:607:in `variable'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:660:in `block_child'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:650:in `block_contents'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:42:in `parse'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:393:in `_to_tree'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:396:in `run'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:62:in `process_result'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/bin/sass:18:in `load'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/bin/sass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"$rtl: \": expected expression (e.g. 1px, bold), was \"~`\"${direction}...\"\A         on line 7 of /Library/WebServer/Documents/mylan/public/project-admin-views/assets/scss/modules/direction.scss\A \A 2: * direction.less v0.1.0\A 3: */\A 4: \A 5: // Local vars\A 6: \A 7: $rtl: ~`\"${direction}\" === 'rtl' ? 'true' : 'false'`;\A 8: $left: ~`${rtl} ? 'right' : 'left'`;\A 9: $right: ~`${rtl} ? 'left' : 'right'`;\A 10: \A 11: \A 12: // \"border-color:\" rule"; }
