/*
Error: Undefined variable: "$input-active-background-color".
        on line 7 of /Library/WebServer/Documents/mylan/public/project-admin-views/assets/scss/modules/horizontal_menu.scss

2: 	.header-seperation{
3: 		display: none;
4: 	}
5: 	.bar{
6: 		width: 100%;
7: 		background-color: $input-active-background-color;
8: 		position: fixed;
9: 		margin-top: 56px;
10: 		display: table;
11: 		z-index: 50;
12: 	}

Backtrace:
/Library/WebServer/Documents/mylan/public/project-admin-views/assets/scss/modules/horizontal_menu.scss:7
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/script/tree/node.rb:50:in `perform'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:384:in `visit_prop'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `block (2 levels) in visit_rule'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `map'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `block in visit_rule'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `block (2 levels) in visit_rule'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `map'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `block in visit_rule'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:396:in `run'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:62:in `process_result'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/bin/sass:18:in `load'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/bin/sass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$input-active-background-color\".\A         on line 7 of /Library/WebServer/Documents/mylan/public/project-admin-views/assets/scss/modules/horizontal_menu.scss\A \A 2: 	.header-seperation{\A 3: 		display: none;\A 4: 	}\A 5: 	.bar{\A 6: 		width: 100%;\A 7: 		background-color: $input-active-background-color;\A 8: 		position: fixed;\A 9: 		margin-top: 56px;\A 10: 		display: table;\A 11: 		z-index: 50;\A 12: 	}"; }
