/*
Error: Invalid US-ASCII character "\xD0"
        on line 285 of /Library/WebServer/Documents/mylan/public/project-admin-views/assets/scss/modules/plugin.scss

280: /* Alternate shading for lines *\/
281: li.L1,li.L3,li.L5,li.L7,li.L9 { }
282: 	
283: 
284: pre .com { 
285: 	color: #A4D886; /* зеленый *\/ 
286: 	color: #F0E68C; /* желтый *\/ 
287: 	color: #87CEEB; /* синий *\/ 
288: 	font-style:normal;
289: 	font-family:arial;
290: } 

Backtrace:
/Library/WebServer/Documents/mylan/public/project-admin-views/assets/scss/modules/plugin.scss:285
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/util.rb:1323:in `rescue in block in find_encoding_error'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/util.rb:1320:in `block in find_encoding_error'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/util.rb:1319:in `each'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/util.rb:1319:in `each_with_index'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/util.rb:1319:in `find_encoding_error'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/util.rb:896:in `check_sass_encoding'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:423:in `check_encoding!'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:379:in `_to_tree'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:396:in `run'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:62:in `process_result'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/bin/sass:18:in `load'
/Users/Mac-Alisha/Desktop/Koala 3.app/Contents/Resources/app.nw/bin/sass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid US-ASCII character \"\xD0\"\A         on line 285 of /Library/WebServer/Documents/mylan/public/project-admin-views/assets/scss/modules/plugin.scss\A \A 280: /* Alternate shading for lines */\A 281: li.L1,li.L3,li.L5,li.L7,li.L9 { }\A 282: 	\A 283: \A 284: pre .com { \A 285: 	color: #A4D886; /* зеленый */ \A 286: 	color: #F0E68C; /* желтый */ \A 287: 	color: #87CEEB; /* синий */ \A 288: 	font-style:normal;\A 289: 	font-family:arial;\A 290: } "; }
