<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>OverHear</title>
        <link href="img/favicon.png" rel="icon" sizes="16x16" type="image/png">
        <!-- Bootstrap -->
        <link href="dist/main.css" rel="stylesheet">
        <link href="dist/provider-single.css" rel="stylesheet">
        <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body data-spy="scroll" data-target=".navbar-fixed-top" id="page-top">
        <!-- Navigation -->
        <div id="page">
            <div class="navbar navbar-custom navbar-fixed-top navbar-default-page">
                <div class="container-fluid">
                    <div class="header">
                        <div class="navbar-header">
                            <a class="menu-icon" href="#menu"></a> <a class=
                            "navbar-brand" href="#"><img height="40px" src=
                        "img/Overhear-logo.png"></a>
                    </div>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse hidden-xs" id=
                    "bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a aria-expanded="false" aria-haspopup="true"
                                class="dropdown-toggle" data-toggle="dropdown"
                                href="#" role="button"><img height="15px" src=
                                "img/india.png"> &nbsp; Mumbai <span class=
                                "caret"></span></a>
                                <ul class="dropdown-menu drop-menu">
                                    <li class="divider m-t-0" role="separator">
                                    <img height="15px" src="img/india.png"></li>
                                    <li>
                                        <ul class="list-inline city-name">
                                            <li>
                                                <a href="#">Mumbai</a>
                                            </li>
                                            <li>
                                                <a href="#">Pune</a>
                                            </li>
                                            <li>
                                                <a href="#">Banglore</a>
                                            </li>
                                            <li>
                                                <a href="#">Delhi</a>
                                            </li>
                                            <li>
                                                <a href="#">Goa</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="divider" role="separator">
                                        <img height="15px" src=
                                    "img/Singapore.png"></li>
                                    <li>
                                        <a href="#">Singapore</a>
                                    </li>
                                </ul>
                            </li>
                            <li>|</li>
                            <li>
                                <a href="#">HOW IT WORKS</a>
                            </li>
                            
                            <li class="dropdown">
                                <a aria-expanded="false" aria-haspopup="true"
                                    class="dropdown-toggle" data-toggle="dropdown"
                                    href="#" role="button">Services <span class=
                                    "caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#">Action</a>
                                        </li>
                                        <li>
                                            <a href="#">Another action</a>
                                        </li>
                                        <li>
                                            <a href="#">Something else here</a>
                                        </li>
                                        <li class="divider" role="separator"></li>
                                        <li>
                                            <a href="#">Separated link</a>
                                        </li>
                                        <li class="divider" role="separator"></li>
                                        <li>
                                            <a href="#">One more separated link</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a aria-expanded="false" aria-haspopup="true"
                                        class="dropdown-toggle" data-toggle="dropdown"
                                        href="#" role="button">Explore <span class=
                                        "caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="#">Action</a>
                                            </li>
                                            <li>
                                                <a href="#">Another action</a>
                                            </li>
                                            <li>
                                                <a href="#">Something else here</a>
                                            </li>
                                            <li class="divider" role="separator"></li>
                                            <li>
                                                <a href="#">Separated link</a>
                                            </li>
                                            <li class="divider" role="separator"></li>
                                            <li>
                                                <a href="#">One more separated link</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <img src="img/profile.jpg" class="profile-image img-circle" width="30px"> 
                                        Thomas Budiman <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Dashboard</a></li>
                                            <li><a href="#">Inbox</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="#">Log out</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                </div><!-- /.navbar-collapse -->
                                <nav class="visible-xs" id="menu">
                                    <ul>
                                        <li>
                                            <h5 class="pull-left">City :</h5>
                                            <select class="form-control pull-left">
                                                <option>Mumbai</option>
                                                <option>Pune</option>
                                                <option>Banglore</option>
                                                <option>Delhi</option>
                                                <option>Goa</option>
                                                <option>Singapore</option>
                                            </select>
                                        </li>
                                        <li>
                                            <a href="#">Home</a>
                                        </li>
                                        <li>
                                            <a href="#">How It Works</a>
                                        </li>
                                        <li>
                                            <a href="#contact">Contact</a>
                                        </li>
                                        <li>
                                            <a href="#" >Join Our Community  <i class="fa fa-suitcase text-primary pull-right" aria-hidden="true"></i></a>
                                        </li>
                                        
                                        
                                        <li>
                                            <h5>Browse</h5>
                                            
                                        </li>
                                        <li>
                                            <a href="#contact">Musical Acts</a>
                                            <ul>
                                                <li>
                                                    <a href="#about/history">History</a>
                                                </li>
                                                <li>
                                                    <a href="#about/team">The team</a>
                                                    <ul>
                                                        <li>
                                                            <a href=
                                                            "#about/team/management">Management</a>
                                                        </li>
                                                        <li>
                                                            <a href=
                                                            "#about/team/sales">Sales</a>
                                                        </li>
                                                        <li>
                                                            <a href=
                                                            "#about/team/development">Development</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#about/address">Our address</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#contact">Entertainers</a>
                                        </li>
                                        <li>
                                            <a href="#contact">Bands</a>
                                        </li>
                                        <li>
                                            <a href="#contact">Services</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="content single-default">
                            <div class="jumbotron">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <ol class="breadcrumb breadcrumb-transperent p-0">
                                                <li><a href="index.html">Home</a></li>
                                                <li class="active">View Project</li>
                                            </ol>
                                        </div>
                                        <div class="col-sm-6">
                                            <ol class="breadcrumb breadcrumb-transperent p-0 text-right">
                                                <li><a><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Project</a></li>
                                                <li><a><i class="fa fa-files-o" aria-hidden="true"></i> Clone Project</a></li>
                                            </ol>
                                        </div>
                                    </div>
                                    <div class="row m-t-30">
                                        <div class="col-sm-12 text-center">
                                            <h3> <span class="label label-warning">Band/Musician</span></h3>
                                            <h2 class="medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit, </h2>
                                            <h4>
                                            <ul class="list-inline">
                                                <li>Sub Category : <a>One Man Band</a></li>
                                                <li><i class="fa fa-circle" aria-hidden="true"></i></li>
                                                <li>Event Type : <a>Corporate Event</a></li>
                                                <li><i class="fa fa-circle" aria-hidden="true"></i></li>
                                                <li>Posted 1 hour ago</li>
                                            </ul>
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="circle-ripple circle-ripple--animation"></div>
                                </div>
                            </div>
                            <div class="category-thumbnail">
                                <img src="img/drum.png"/>
                            </div>
                            <div class="spacer"></div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <h3 class="normal">Details</h3>
                                        <p>
                                            She clutched the matron by the arm, and forcing her into a chair by the bedside, was about to speak, when looking round, she caught sight of the two old women bending forward in the attitude of eager listeners.
                                            <br>
                                            They belong to the old gentleman, said Oliver, wringing his hands; "to the good, kind, old gentleman who took me into his house, and had me nursed, when I was near dying of the fever . Oh, pray send them back; send him back the books and money .
                                        </p>
                                        <br>
                                        <div id="project-details" class="bordered-card">
                                            <div class="row card-title">
                                                <div class="col-sm-10">
                                                    <h3 class="normal m-0">Basic Project Details and Event Date Details  </h3>
                                                </div>
                                                <div class="col-sm-2">
                                                    <button class="btn btn-default pull-right" type="submit">Edit</button>
                                                </div>
                                            </div>
                                            
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <i class="oh-sm-icon oh-event-date pull-left"></i>
                                                    <b>Event Date:</b><br><span class="text-primary medium">18 July 2016</span>
                                                </div>
                                                <div class="col-sm-4">
                                                   <b> Last date to accept offers</b><br><b class="medium">22 July 2016</b>
                                                </div>
                                                <div class="col-sm-4">
                                                    <i class="oh-sm-icon oh-budget pull-left"></i>
                                                    <b>Budget for the event</b><br><span class="text-primary medium">Rs 20,000 - 30,000  </span>
                                                </div>
                                            </div>
                                            <br>
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3844.8379704605454!2d73.83088281455086!3d15.493145258733959!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bbfc09b280ef60b%3A0x94fcb078281177c4!2sGoa+Museum!5e0!3m2!1sen!2sin!4v1469105140874" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
                                            <br><br>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                     <b>Event Location:</b><br><span class="text-muted">Lorem ipsum dolor sit amet, consectetur
                                                    </span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="alert alert-warning text-center">
                                                        <b class=" text-primary"> Performer will be required for entire event</b>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <br>
                                        <div id="project-details" class="bordered-card">
                                            <div class="row card-title">
                                                <div class="col-sm-10">
                                                    <h3 class="normal m-0">Venue Details  </h3>
                                                </div>
                                                <div class="col-sm-2">
                                                    <button class="btn btn-default pull-right" type="submit">Edit</button>
                                                </div>
                                            </div>
                                            
                                            <div class="row">
                                                <div class="col-sm-12 ">
                                                     <b>Venue Name:</b><br><span class="text-muted">Lorem ipsum dolor sit amet, consectetur
                                                    </div>
                                                    
                                                </div>
                                                <div class="spacer"></div>
                                                <div class="row">
                                                    <div class="col-sm-4 ">
                                                        <i class="oh-sm-icon oh-outdoor pull-left"></i>
                                                       <b> Venue Type:</b><br><span class="text-muted">Out Door
                                                        </div>
                                                        <div class="col-sm-3">
                                                           <b>  Size:</b><br><span class="text-muted">1024 sq.ft.
                                                            </div>
                                                            <div class="col-sm-4 ">
                                                              <b>   Expected number of guests:</b><br><span class="text-muted">150
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div id="project-details" class="bordered-card">
                                                            <div class="row card-title">
                                                                <div class="col-sm-10">
                                                                    <h3 class="normal m-0">Preferred Type of Act  </h3>
                                                                </div>
                                                                <div class="col-sm-2">
                                                                    <button class="btn btn-default pull-right" type="submit">Edit</button>
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="row">
                                                                <div class="col-sm-12 ">
                                                                    <ul class="list-group">
                                                                        <li class="list-group-item">
                                                                            <div class="row">
                                                                                <div class="col-sm-4">
                                                                                    <b> Preferred Type</b>
                                                                                </div>
                                                                                <div class="col-sm-8">
                                                                                    Herald Trumpeteers / Keyboard Players / Percussionists
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li class="list-group-item">
                                                                            <div class="row">
                                                                                <div class="col-sm-4">
                                                                                    <b>Preferred Music Type</b>
                                                                                </div>
                                                                                <div class="col-sm-8">
                                                                                    Electronic / Fusion / Smooth Jazz / Midwest
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li class="list-group-item">
                                                                            <div class="row">
                                                                                <div class="col-sm-4">
                                                                                    <b>Preferred Favourite Artists</b>
                                                                                </div>
                                                                                <div class="col-sm-8">
                                                                                    Avril Lavigne / Sean Paul / Enrique Iglesias
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li class="list-group-item">
                                                                            <div class="row">
                                                                                <div class="col-sm-4">
                                                                                    <b>Preferred Instruments</b>
                                                                                </div>
                                                                                <div class="col-sm-8">
                                                                                    Guitar / Trumpet / Piano / Violin / Clarinet
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        
                                                                    </ul>
                                                                </div>
                                                                
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-4">
                                                                    <br><b> Number of Band Members</b>
                                                                </div>
                                                                <div class="col-sm-8">
                                                                    <ul class="list-inline list-member">
                                                                        <li>
                                                                            <i class="fa fa-male" aria-hidden="true"></i>
                                                                        </li>
                                                                        <li>
                                                                            <i class="fa fa-male" aria-hidden="true"></i>
                                                                            <i class="fa fa-male" aria-hidden="true"></i>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                        <br><br>
                                                        <h3 class="normal m-0">Equipment <sm>I already have the following</sm> </h3>
                                                        <ul class="list-inline equipment-list">
                                                            <li>
                                                                <div id="project-details" class="bordered-card text-center ">
                                                                    <img src="img/vector_485_11-128.png" width="60px">
                                                                    <h4>PA System</h4>
                                                                    <sm class="text-muted">AHUJA AWM-490V2 15mW Professional VHF Wireless Microphone Black</sm>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div id="project-details" class="bordered-card text-center ">
                                                                    <img src="img/vector_485_11-128.png" width="60px">
                                                                    <h4>PA System</h4>
                                                                    <sm class="text-muted">AHUJA AWM-490V2 15mW Professional VHF Wireless Microphone Black</sm>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div id="project-details" class="bordered-card text-center ">
                                                                    <img src="img/vector_485_11-128.png" width="60px">
                                                                    <h4 class="">PA System</h4>
                                                                    <sm class="text-muted">AHUJA AWM-490V2 15mW Professional VHF Wireless Microphone Black</sm>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div id="project-details" class="bordered-card text-center">
                                                                    <br>
                                                                    <i class="fa fa-plus-square-o  fa-4x" aria-hidden="true"></i>
                                                                    
                                                                    <h4>Add <br>Equipment</h4>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <h4>Applications Open <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit,"></i></h4>
                                                        <button type="button" class="btn btn-primary btn-lg btn-block">AWARD</button>
                                                        <button type="button" class="btn btn-default btn-lg btn-block">VIEW APPLICANTS (5)</button>
                                                        <BR>
                                                        <div class="thumbnail">
                                                            <div class="caption">
                                                                <h4 class="medium text-primary">How picky are you?</h4>
                                                                <sm>Don’t worry if your meter is not full we will still suggest artists or services matching your requirement. Want to be more specific about your requirement? Go ahead and fill up the advanced section.</sm>
                                                                <div class="profile-meter">
                                                                    <div class="progress vertical">
                                                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 45%;">
                                                                        </div>
                                                                    </div>
                                                                    <div class="stage1"><sm>---------------------- </sm>Getting<br>Started</div>
                                                                    <div class="stage2"><sm>-----------------------------</sm> 50%</div>
                                                                    <div class="stage3"><sm>--------------------- </sm>100%<br>Done</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="box-primary">
                                                            <h2 class="m-0 medium">03</h2>
                                                            <sm>Total Applications</sm>
                                                            <div class="history-tl-container">
                                                                <ul class="tl">
                                                                    <li class="tl-item" ng-repeat="item in retailer_history">
                                                                        <div class="item-title"><b class="medium">High:</b> Rs 23,000</div>
                                                                    </li>
                                                                    <li class="tl-item" ng-repeat="item in retailer_history">
                                                                        <div class="item-title"><b class="medium">Avg:</b> Rs 22,000</div>
                                                                    </li>
                                                                    <li class="tl-item" ng-repeat="item in retailer_history">
                                                                        <div class="item-title"><b class="medium">Low:</b> Rs 20,000</div>
                                                                    </li>
                                                                </ul>
                                                                <br>
                                                                Offers from <br>Applicants <i class="oh-sm-icon oh-offer"></i>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <h4>Your Details</h4>
                                                        <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                                        <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                                        <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                                        <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                                        <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                                        <br>
                                                        <h4 class="medium m-0">(4.86) 9 Reviews</h4>
                                                        <br>
                                                        <h4 class="medium">2 Projects Posted</h4>
                                                        <h4>33% Hire Rate <a>1 Open Project</a></h4>
                                                        <br>
                                                        <h4><b class="bold">Member Since:</b> Dec 12, 2015</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="spacer"></div>
                                            <div class="footer">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-sm-2">
                                                            <img src="img/OverHear.png" width="100px" class="center-block"/>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="scroll-hr">
                                                                <div class="row">
                                                                    <div class="col-sm-4 col-xs-4">
                                                                        <h5>Musicians</h5>
                                                                        <ul class="list-unstyled widget-link">
                                                                            <li><a href="#">Herald Trumpeteers</a></li>
                                                                            <li><a href="#">Keyboard Players</a></li>
                                                                            <li><a href="#">One Man Bands</a></li>
                                                                            <li><a href="#">Organists</a></li>
                                                                            <li><a href="#">Percussionists</a></li>
                                                                            <li><a href="#">Pianists</a></li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="col-sm-4 col-xs-4">
                                                                        <h5>Bands</h5>
                                                                        <ul class="list-unstyled widget-link">
                                                                            <li><a href="#">Acoustic Bands</a></li>
                                                                            <li><a href="#">Alternative Bands</a></li>
                                                                            <li><a href="#">Americana Bands</a></li>
                                                                            <li><a href="#">Big Bands</a></li>
                                                                            <li><a href="#">Country Bands</a></li>
                                                                            <li><a href="#">Cover Bands</a></li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="col-sm-4 col-xs-4">
                                                                        <h5>DJS</h5>
                                                                        <ul class="list-unstyled widget-link">
                                                                            <li><a href="#">Bar Mitzvah DJs</a></li>
                                                                            <li><a href="#">Club DJs</a></li>
                                                                            <li><a href="#">Event DJs</a></li>
                                                                            <li><a href="#">Karaoke DJs</a></li>
                                                                            <li><a href="#">Mobile DJs</a></li>
                                                                            <li><a href="#">Event DJs</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-sm-4">
                                                            <h5>FOLLOW US</h5>
                                                            <ul class="list-inline social">
                                                                <li class="fb"><i class="fa fa-facebook-f" ></i></li>
                                                                <li class="twitter"><i class="fa fa-twitter" ></i></li>
                                                                <li class="linkedin"><i class="fa fa-linkedin" ></i></li>
                                                                <li class="soundcloud"><i class="fa fa-soundcloud" ></i></li>
                                                                <li class="lastfm"><i class="fa fa-lastfm" ></i></li>
                                                                <li class="google"><i class="fa fa-google-plus" ></i></li>
                                                            </ul>
                                                            <br>
                                                            <h5>Subscribing OVERHEAR SESSIONS</h5>
                                                            <p class="text-muted">We will never send you spam or some other trash</p>
                                                            <form class="form-inline">
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        
                                                                        <input type="text" class="form-control email-address" id="email address" placeholder="email address">
                                                                        
                                                                    </div>
                                                                </div>
                                                                <button type="submit" class="btn btn-primary">></button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
                                    <script src="../bower_components/jquery/dist/jquery.min.js">
                                    </script>
                                    <script src="js/script.js"></script>
                                    <script src="js/howitworks.js"></script>
                                    <!-- Include all compiled plugins (below), or include individual files as needed -->
                                    
                                    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js">
                                    </script>
                                    <script src=
                                    "../bower_components/jQuery.mmenu/dist/js/jquery.mmenu.all.min.js" type=
                                    "text/javascript">
                                    </script>
                                    <script src="js/modernizr-2.6.1.min.js">
                                    </script>
                                    <script src="js/jquery.cycle2.min.js" type="text/javascript">
                                    </script>
                                    <script charset="utf-8" src="js/base.js" type="text/javascript">
                                    </script>
                                    <script type="text/javascript">
                                    $(function () {
                                    $('[data-toggle="tooltip"]').tooltip()
                                    })
                                    
                                    </script>
                                </body>
                            </html>